.configs-wrapper{"ng-controller"=>"ConfigsCtrl", "ng-init"=>"getConfigs()"}
  .config-div.config-list
    .config-line{"ng-repeat"=>"config in configs | orderBy : 'name'"}
      .config-info{"ng-hide"=>"config.edit"}
        .config-field.config-name{title:"{{config.comment}}"}
          {{config.name}}
        .config-field.config-value
          {{config.value}}
        .config-field.config-comment
          {{config.comment}}
        .config-field.config-edit-btn
          %span.config-submit.fa.fa-pencil{"ng-click"=>"editConfig(config)"}
        .config-field.config-edit-btn
          %span.config-delete.fa.fa-times{"ng-click"=>"removeConfig(config)"}
      .config-edit{"ng-if"=>"config.edit"}
        .config-field.config-name
          %input.inp.inp-type2{"ng-model"=>"editConf.name"}
        .config-field.config-value
          %input.inp.inp-type2{"ng-model"=>"editConf.value"}
        .config-field.config-comment
          %input.inp.inp-type2{"ng-model"=>"editConf.comment"}
        .config-field.config-btn
          .config-submit
            %button.btn.btn-standart{"ng-click"=>"updateConfig()"}
              %span.fa.fa-check
        .config-field.config-btn
          .config-reset
            %button.btn.btn-standart{"ng-click"=>"resetConfig(config)"}
              %span.fa.fa-times
  .config-div.new-config
    .config-edit
      .config-field.config-name
        %input.inp.inp-type2{"ng-model"=>"newConfig.name"}
      .config-field.config-value
        %input.inp.inp-type2{"ng-model"=>"newConfig.value"}
      .config-field.config-comment
        %input.inp.inp-type2{"ng-model"=>"newConfig.comment"}
      .config-field.config-btn
        .config-submit
          %button.btn.btn-standart{"ng-click"=>"createConfig()"}
            %span.fa.fa-check
      .config-field.config-btn
        .config-reset
          %button.btn.btn-standart{"ng-click"=>"newConfig = {}"}
            .span.fa.fa-times
