.forum-ctrl{"ng-controller"=>"TopicsCtrl", "ng-init"=>"initNewTopic(#{params[:forum_id]})"}
  .path
    %span{"ng-repeat"=>"item in path"}
      %a{href:"/temple/{{item.id}}"} {{item.name}}
      %span.fa.fa-angle-double-right{"ng-if"=>"$index < path.length-1"}

  %h1{}
    = I18n.t("forum_topics.show.pagetitle")

  .new-topic-wrap
    .topic-form.any-form.topic-reply-form
      %form{name:"NewTopic", novalidate:"", "ng-model"=>"newTopic"}
        %table.form-tab.one-message-tab
          %tr
            %td.label
            %td.input
              .form-errors
                .error-line{"ng-repeat"=>"error in errors"}
                  {{error}}
          %tr
            %td.label
              %label{for:"topic_head"} Заголовок:
            %td.input.input-head
              %input.inp.inp-type2{name:"topic_head", id:"topic_head", "ng-model"=>"newTopic.head", required:""}
          %tr.new_topic_post
            %td.label
              .select-char
                %label{for:'char_name'} Персонаж:
                %select.inp.inp-type2{'ng-model'=>'newPost.char_id', 'ng-options'=>'char.id as char.name for char in chars', required:'', 'ng-change'=>'updateChar(chars, newPost.char_id)'}
                %char-avatars{'ng-model'=>'newPost.avatar_id', collection:'sChar.avatars', editable: 'false', 'char-id'=>'newPost.char_id', 'ng-show'=>'newPost.char_id'}
            %td.input.input-textarea
              .inp-count
                {{postCharCount(newPost.text)}}
              %textarea.inp.inp-type2{name:"post_text", "ng-model"=>"newPost.text", required:'', 'mark-it-up'=>''}
          %tr
            %td.label{} Настройки:
            %td.input
              %input{type:"checkbox", "ng-model"=>"newTopic.hidden", "ng-true-value"=>1, "ng-false-value"=>0, id:"check-hidden"}
              %label{for:"check-hidden"}
                %span
                Спрятать тему
          %tr
            %td.label
            %td.input.input-btn
              %button.btn.btn-mini.forum-btn{"ng-click"=>"createTopic()", "ng-disabled"=>"newTopic.create_disabled", "ng-class"=>"newTopic.create_disabled ? 'disabled' : ''"}
                %span
                  Создать тему
              %button.btn.btn-mini.forum-btn{'ng-click'=>'sendTopicDraft()'}
                %span
                  Сохранить черновик
                %span.fa.fa-spinner.fa-pulse{'ng-show'=>'sendingDraft'}
              %span.draft-save{'ng-show'=>'draftSent'}
                {{draftSent}}
              %a.btn.btn-mini.forum-btn{href:"/temple/{{forumId}}/"} Назад
