- content_for :title do
  Гостевой свиток - ФРПГ Храм Мудрости

.guestscroll{"ng-controller"=>"GuestBookCtrl", "ng-init"=>"initPosts(#{params[:page]})"}
  .write-new
    %a{href: "#form"} Написать
  .paginator.align-center
    %ui-pagination{cur:"guestPagination.cur", total:"guestPagination.total", display:"9"}
  .guestscroll-entry{"ng-repeat"=>"post in posts"}
    .guestscroll-entry-title
      .guestscroll-entry-date{} {{post.postDate}}
      .guestscroll-entry-author{} {{post.user}}
      .guestscroll-entry-title-text{} {{post.head}}
    .guestscroll-text{"ng-bind-html"=>"post.content|simpleFormat"}
    .block-adm
      %span.delete{title: "Удалить", "ng-click" => "removePost(post)", "ng-if" => "currentUser.group == 'admin'" } [&#21024;&#38500;]
    .guestscroll-answer{"ng-show"=>"post.hasAnswer"}
      .guestscroll-answer-date{} {{post.answerDate}}
      .guestscroll-answer-text{"ng-bind-html"=>"post.answer|simpleFormat"}
      .block-adm{"ng-if" => "currentUser.group == 'admin'"}
        %span.edit{title: "Редактировать", "ng-click" => "post.hasAnswer = !post.hasAnswer; post.getReply = true; post.editReply = true" } [ &#21464;&#26356; ]
    .guestscroll-write-answer{"ng-if"=>"currentUser.group == 'admin'", "ng-hide"=>"post.hasAnswer"}
      %span.btn-green.bg-gold{"ng-click"=>"post.getReply = !post.getReply", "ng-hide"=>"post.editReply"} Ответить
      .show-form{"ng-show"=>"post.getReply"}
        %form{"ng-submit"=>"updatePost(post)", name: "reply_form", novalidate: true, "ng-model"=>"post"}
          %textarea.textarea-2.inp-type2{name:"answer", "ng-model"=>"post.answer", "ng-required" => "true"}
          %br/
          %br/
          %input.btn.btn-mini{type: "submit", value: "Ок!"}/
  .any-form
    %a{name:"form"}
    = render :partial => 'form'
