.myaccount{"ng-controller"=>"ProfileCtrl", "ng-init"=>"loadProfile()", "ng-show"=>"user"}
  .act-block
    .act-head Мои данные
    %table.myaccount-table
      %tr
        %td.left
          .act-subhead Контактная информация
          %div{"ng-hide"=>"user.editProfile"}
            .act-line
              %span.bold Пользователь:
              {{user.name}}
            .act-line
              %span.bold Email:
              {{user.email}}
            .act-line{"ng-if"=>"user.profile_attributes.icq"}
              %span.bold ICQ:
              {{user.profile_attributes.icq}}
            .act-line{"ng-if"=>"user.profile_attributes.skype"}
              %span.bold Skype
              {{user.profile_attributes.skype}}
            .act-line{"ng-if"=>"user.profile_attributes.contacts"}
              .bold Другие контакты:
              %div
                {{user.profile_attributes.contacts}}
            .act-line
              %span.bold Имя:
              {{user.profile_attributes.full_name}}
            .act-line
              %span.bold Дата рождения:
              {{user.profile_attributes.birth_date}}
            .act-line
              %span.boldie{"ng-click"=>"user.editProfile = true"} Редактировать данные
          %div{"ng-show"=>"user.editProfile"}
            = render :partial => 'form'
        %td.right
          .act-subhead Социальные сети
          .act-line{"ng-repeat"=>"provider in authProviders"}
            %span.act-social{"ng-class"=>"user.authentications.indexOf(provider.provider)>=0 ? 'on' : 'off'"}
              {{provider.name}}
              %span{"ng-if"=>"user.authentications.indexOf(provider.provider)>=0", "ng-click"=> "removeAuth(provider.provider)"} отключить
              %a{"ng-if"=>"user.authentications.indexOf(provider.provider)<0", href:"/oauth/{{provider.provider}}"} включить
          .act-line
    .act-head Полезные ссылки
    %table.useful-links-table
      %tr
        %td
          .act-line
            %a{href: "#"} Список тем
          .act-line
            %a{href: "#"} Заявка на проверку ролевки
        %td
          .act-line
            %a{href: "#"} Список тем
          .act-line
            %a{href: "#"} Заявка на проверку ролевки
    .act-head Меню Персонажа
    .act-line
      %a{href: "#"} Создать нового персонажа
    .act-subhead Мои персонажи
    .act-line
      %table.act-table
        %tr
          %td.act-name
            %a{href: "#"} Василий Петрович
          %td.act-date-create 12.12.2012
          %td.act-status.accept
            %span принят
          %td.act-delegate
            Делегирован игрокам:
            %span.player-one
              %a{href: "#", title: "Окончание делегирования: 12.11.2013"} Vasya223
              %span.delete{title: "Отменить делегирование"} ×
            |
            %span.player-one
              %a{href: "#", title: "Окончание делегирования: бессрочно"} KILLER666!!!1
              %span.delete{title: "Отменить делегирование"} ×
              |
        %tr
          %td.act-name
            %a{href: "#"} Чхан Лю Шан Дан Бао
          %td.act-date-create 12.12.2012
          %td.act-status.waiting
            %span на одобрении
          %td.act-delegate
            Делегирован игрокам:
            %span.player-one
              %a{href: "#", title: "Окончание делегирования: 12.11.2013"} Vasya223
              %span.delete{title: "Отменить делегирование"} ×
            |
            %span.player-one
              %a{href: "#", title: "Окончание делегирования: бессрочно"} KILLER666!!!1
              %span.delete{title: "Отменить делегирование"} ×
              |
        %tr
          %td.act-name
            %a{href: "#"} Чхан Лю Шан Дан Бао
          %td.act-date-create 12.12.2012
          %td.act-status.inactive
            %span неактив
          %td.act-delegate
            Делегирован игрокам:
            %span.player-one
              %a{href: "#", title: "Окончание делегирования: 12.11.2013"} Vasya223
              %span.delete{title: "Отменить делегирование"} ×
            |
            %span.player-one
              %a{href: "#", title: "Окончание делегирования: бессрочно"} KILLER666!!!1
              %span.delete{title: "Отменить делегирование"} ×
              |
            %span.player-one
              %a{href: "#", title: "Окончание делегирования: бессрочно"} K!!1
              %span.delete{title: "Отменить делегирование"} ×
              |
            %span.player-one
              %a{href: "#", title: "Окончание делегирования: бессрочно"} KI
              %span.delete{title: "Отменить делегирование"} ×
              |
            %span.player-one
              %a{href: "#", title: "Окончание делегирования: бессрочно"} KILLER1
              %span.delete{title: "Отменить делегирование"} ×
              |
        %tr
          %td.act-name
            %a{href: "#"} Чхан Лю Шан Дан Бао
          %td.act-date-create 12.12.2012
          %td.act-status.inactive
            %span неактив
          %td.act-delegate
            Делегирован игрокам:
            %span.italic не делегирован
    .act-subhead Переданные мне персонажи
    .act-line
      %table.act-table
        %tr
          %td.act-name
            %a{href: "#"} Чхан Лю Шан Дан Бао
            %span.owner
              (владелец:
              = succeed ")" do
                %a{href: "#"} Vasya2324
          %td.act-date-end-of Дата окончания делегирования: 12.12.2012
        %tr
          %td.act-name
            %a{href: "#"} Чхан
            %span.owner
              (владелец:
              = succeed ")" do
                %a{href: "#"} 42343242Vasya2324
          %td.act-date-end-of Дата окончания делегирования: бессрочно