.forum-ctrl{"ng-controller"=>"ForumsCtrl", "ng-init"=>"loadRoot()"}
  %table.forum-tab
    %tbody{"ng-repeat"=>"forum in forums"}
      %tr
        %th.f-sections{colspan: "2"} Форумы
        %th.f-topics Темы
        %th.f-messages Сообщения
        %th.f-lastmessage Последнее сообщение
      %tr
        %td.f-section-name{colspan: "5"}
          %a{href: "/temple/{{forum.id}}"} {{forum.name}}
      %tr{"ng-repeat"=>"child in forum.children"}
        %td.f-icon.iforum.read
          %span
        %td.f-sections
          .f-topics-section-name
            %a{href: "/temple/{{child.id}}"} {{child.name}}
          .f-topics-subsections{"ng-if"=>"child.children.length > 0"}
            %span.bold Подфорумы:
            %span{"ng-repeat"=>"ch in child.children"}
              %a{href: "/temple/{{ch.id}}"}{{ch.name}}
              %span.separator{'ng-if'=>'ch != child.children[child.children.length-1]'}|
        %td.f-topics{} {{child.topics_count}}
        %td.f-messages{} {{child.posts_count}}
        %td.f-lastmessage
          .last_post-wrap{"ng-if"=>"child.last_post_id"}
            .f-lastmessage-date{} {{child.last_post_at}}
            .f-lastmessage-link
              %a.f-lastmessage-author{href:"/chars/{{child.last_post_char_id}}"} {{child.last_post_char_name}}
              %a.f-lastmessage-goto{href: "/temple/{{child.id}}/t/{{child.last_post_topic_id}}/?page=last&post={{child.last_post_id}}"} ➜
