.forum-ctrl{"ng-controller"=>"ForumsCtrl", "ng-init"=>"initForum(#{params[:id]}, #{params[:page] || 1})"}
  .path
    %span
      %a{href:"/temple"} Список форумов
      %span.fa.fa-angle-double-right
    %span{"ng-repeat"=>"item in path"}
      %a{href:"/temple/{{item.id}}"} {{item.name}}
      %span.fa.fa-angle-double-right{"ng-if"=>"item.id != forum.id"}

  %h1{} {{forum.name}}

  .category-wrap{"ng-if"=>"forum.isCategory"}
    = render partial: "forum_category"


  .forum-wrap{"ng-hide"=>"forum.isCategory"}
    .forum-wrap-btn
      %button.btn.btn-mini.forum-btn{"ng-if"=>"forum.moderatable", "ng-click"=>"clickModerate()"}
        %span
          Модерировать форум
      %button.btn.btn-mini.forum-btn
        %span Отметить темы как прочтенные
      %a.btn.btn-mini.forum-btn{href:"/temple/{{forum.id}}/t/new"}
        %span Новая тема
    .forum-moder-wrap{'ng-show'=>'moderateOn'}
      .moder-part
        %select.inp.inp-type2{type: 'text', 'ng-model'=>'toForumId', 'ng-options'=>'forum.id as forum.name for forum in moderateForums', "data-placeholder"=>"Выбрать раздел для переноса", chosen: ''}
          %option
      .moder-part
        %button.btn.btn-mini.forum-btn{'ng-click'=>'moveTopics()'}
          %span.fa.fa-arrow-circle-o-right
          %span Переместить в
          %span.fa.fa-spinner.fa-pulse{'ng-show'=>'moderateProgress'}
      .moder-part
        %button.btn.btn-mini.forum-btn{'ng-click'=>'closeTopics()'}
          %span.fa.fa-lock
          %span Закрыть
          %span.fa.fa-spinner.fa-pulse{'ng-show'=>'moderateProgress'}
      .moder-part
        %button.btn.btn-mini.forum-btn{'ng-click'=>'openTopics()'}
          %span.fa.fa-unlock
          %span Открыть
          %span.fa.fa-spinner.fa-pulse{'ng-show'=>'moderateProgress'}
      .moder-part
        %button.btn.btn-mini.forum-btn{'ng-click'=>'deleteTopics()'}
          %span.fa.fa-times
          %span Удалить
          %span.fa.fa-spinner.fa-pulse{'ng-show'=>'moderateProgress'}
    .forum-pagination
      %ui-pagination{cur:'forumPagination.cur', total:'forumPagination.total', display:'9'}
    %table.forum-tab.subforum-tab
      %tbody
        %tr{"ng-if"=>"forum.description"}
          %td.topic-list-description{colspan: "{{moderateOn ? 7 : 6}}"}
            .bold Описание локации:
            .forum-description
              .image{'ng-if'=>'forum.image'}
                %img{'ng-src'=>'{{forum.image}}'}
              .text{"parse-html"=>"forum.description"}
        %tr
          %th.f-sections{colspan: "2"} Темы
          %th.f-author Автор
          %th.f-messages Постов
          -#%th.f-messages Просмотров
          %th.f-lastmessage Последнее сообщение
          %th.f-moderate{"ng-show"=>"moderateOn"}
            %input{type:"checkbox", id:"selectAll"}
            %label{for:"selectAll"}
              %span{"ng-click"=>"selectAll()"}
        %tr{'ng-if'=>'!loadedTopics'}
          %td.no-topics{colspan: 6}
            %preloader{'hide-span'=>'loadedTopics'}
        %tr{"ng-if"=>"topics.length == 0"}
          %td.no-topics{colspan:"{{moderateOn ? 7 : 6}}"}
            Нет тем
        %tr{"ng-repeat"=>"topic in topics"}
          %td.f-icon.topic.unread
            %span{'ng-class'=>'topicClass(topic)'}
          %td.f-topic
            .f-topic-name
              %a{href: "/temple/{{forum.id}}/t/{{topic.id}}"} {{topic.head}}
            %pages-list{"base-url"=>"/temple/{{forum.id}}/t/{{topic.id}}", total:"topic.posts_count"}
          %td.f-author
            %a{href:"/chars/{{topic.char_id}}"} {{topic.poster_name}}
          %td.f-messages{} {{topic.posts_count}}
          -#%td.f-messages{} {{topic.views_count}}
          %td.f-lastmessage
            .f-lastmessage-date{} {{topic.last_post_at}}
            .f-lastmessage-link
              %a.f-lastmessage-author{href:"/chars/{{topic.last_post_char_id}}"} {{topic.last_post_char_name}}
              %a.f-lastmessage-goto{href: "/temple/{{forum.id}}/t/{{topic.id}}?post={{topic.last_post_id}}"} ➜
          %td.f-moderate{'ng-show'=>'moderateOn'}
            %input{type:"checkbox", "ng-model"=>"topic.selected", id:"select{{topic.id}}", 'ng-true-value'=>'1', 'ng-false-value'=>'0'}
            %label{for:"select{{topic.id}}"}
              %span
    %preloader{'hide-span'=>'loadedForum'}
    .forum-pagination
      %ui-pagination{cur:'forumPagination.cur', total:'forumPagination.total', display:'9'}


