!!!
%html
  %head
  %body
    %h1
      Добро пожаловать в Храм Мудрости
    #message_text
      %p.greeting
        = "Уважаем(ый|ая) #{@user.name}, "
      %p Вы успешно прошли регистрацию на нашем проекте. Осталось только подтвердить введенный Вами адрес электронной почты, чтобы активировать Вашу учетную запись.
      %p Сделать это очень просто: достаточно перейти по ссылке, приведенной ниже.
      %p.link
        = link_to @url, @url, target: '_blank'
      %p
        Если Вы не регистрировались на нашем проекте, просто проигнорируйте это письмо.
