!!!
%html
    %head
    %body
        %h1
            = "Здравствуйте, #{@user.name},"
        %p Ваша учетная запись в Храме Мудрости успешно активирована. Теперь Вы можете приступать к созданию своего первого персонажа. Перед заполнением анкеты рекомендуем прочитать наши руководства, дабы анкета получилось максимально полной, интересной и логичной.
        %p Еще раз добро пожаловать и приятной игры.