.blog-entry{"ng-repeat" => "post in posts"}
  .blog-entry-title
    .blog-entry-date {{post.dateLine}}
    .blog-entry-title-text {{post.head}}
  .blog-text{"ng-bind-html"=>"post.content"}
  .blog-author {{post.author}}
  .blog-comments
    %a{"ng-click"=>"showPost(post)"} Комментарии({{post.comments.length}})
  .block-adm
    %span.delete{title: "Удалить", "ng-show" => "currentUser.group=='admin'", "ng-click" => "deletePost($index)"} [&#21024;&#38500;]

