.blog{"ng-controller" => "BlogCtrl", "ng-init"=>"initBlog(#{params[:page]})"}
  %div{"ng-hide"=>"onePost.id"}
    = render :partial => "form", locals: {post:"newPost"}
    %ui-pagination{cur:"blogPagination.cur", total:"blogPagination.total", display:"9"}
    = render "blog_post"
    %ui-pagination{cur:"blogPagination.cur", total:"blogPagination.total", display:"9"}

  .one_post{"ng-show"=>"onePost.id"}
    = render "one_post"
