.admin-wrapper.notifications{'ng-controller' =>'NotificationsCtrl'}

  .user-filter
    %input.inp.inp-type2{'ng-model' => 'filter.$', type: 'text', id:'user-filter'}
    %label.fa.fa-search{for:'user-filter'} &nbsp;

  = render partial: 'ng_table'

  .show-note-wrap{'ng-show'=>'sNote.id'}
    .show-close
      %span.fa.fa-times{'ng-click'=>'sNote = {}'}
    .show-note
      .line.note-head{'ng-class'=>'"note-head-"+sNote.priority'}
        {{note.head}}
      .line.note-date
        {{note.createdAt}}
      .line.note-text{'ng-bind-html'=>'note.text'}



%script{type:'text/ng-template', id:'custom/pager'}
  = render :partial => 'ng_table_pager'