- content_for :path do
  = link_to "Личный кабинет", profile_path
  %span.fa.fa-arrow-circle-right
  %span
    Уведомления

.admin-wrapper.notifications{'ng-controller' =>'NotificationsCtrl'}

  .user-filter
    %input.inp.inp-type2{'ng-model' => 'filter.$', type: 'text', id:'user-filter'}
    %label.fa.fa-search{for:'user-filter'} &nbsp;

  = render partial: 'ng_table'

  .show-note-wrap{'ng-show'=>'sNote.id'}
    .show-close
      %span.fa.fa-times{'ng-click'=>'sNote = {}'}
    .show-note
      .line.note-head{'ng-class'=>'"note-head-"+sNote.priority'}
        {{sNote.head}}
      .line.note-date
        {{sNote.createdAt}}
      .line.note-text{'ng-bind-html'=>'sNote.text'}


= render 'shared/ng_table_pager'