%table.users-table.ngtable{"ng-table" => "tableParams", "template-pagination"=>"custom/pager"}
  %tr.one-line{"ng-repeat" => "user in $data"}
    %td{"data-title" => "'№'", sortable: "'id'"}
      {{user.id}}
    %td.line-name{"data-title" => "'Имя'", sortable: "'name'"}
      %span{"ng-click"=>"editUser(user)"} {{user.name}}
    %td{"data-title" => "'Email'", sortable: "'email'", "ng-bind-html"=>"user.email | linky"}
    %td{"data-title" => "'Группа'", sortable: "'group_name'"}
      {{user.group_name}}
    %td{"data-title" => "'Статус'", sortable: "'state'"}
      {{user.state}}
    %td{"data-title" => "'Персонажей'", sortable: "'chars.length'"}
      {{user.chars.length}}
    %td.line-edit{}
      %span.user-edit.fa.fa-pencil{"ng-click"=>"editUser(user)"}
    %td.line-remove{}
      %span.user-edit.fa.fa-times{"ng-click"=>"removeUser(user)"}