%p.bold Добро пожаловать в Храм Мудрости, #{@user.name}.
%p Ваша регистрация практически завершена, осталось совсем немного.
%br
  На указанный Вами адрес
  %a{href:"mailto:#{@user.email}"} #{@user.email}
  отправлено письмо, содержащее ссылку для подтверждения регистрации.

%p
  С нетерпением ждем Вас.