= content_for :pagetitle do
  = t "skill_type.#{params[:skill_type]}"

.text-simple
  %p
    В данном разделе представлены каноны магических способностей, доступных персонажам игры. Персонаж может овладеть любыми из них, однако некоторые осложняют развитие друг друга. Это пары стихийной магии Огонь-Вода и Земля-Воздух. Если у персонажа есть обе способности «сложной» пары, та, которая развита слабее, требует в 2 раза больше баллов опыта для развития.
    %br
    В канонах для каждого уровня способности указаны возможности, которые получает персонаж при развитии и рекомендации по игре.  Если у Вас будут возникать вопросы по канонам – Вы можете задать их в соответствующем разделе нашего сайта.

  %ul.any-list
    - @skills.each do |skill|
      %li
        = link_to skill.name, skill_show_path(skill)