<div class="rpgtop">
  <a href="http://top.roleplay.ru/12842" title="Рейтинг Ролевых Ресурсов - RPG TOP" target="top_">
    <img src="http://img.rpgtop.su/88x31x11x3.gif" alt="Рейтинг Ролевых Ресурсов - RPG TOP" border="0" width="88" height="31"></a>
</div>

<div class="rpgtop">
  <a href="http://forum-top.ru/vote/1890" title="Рейтинг форумов Forum-top.ru" target="blank"><img src="http://forum-top.ru/uploads/buttons/forum-top_88x31_3.gif" alt="Рейтинг форумов Forum-top.ru"/></a>
</div>

<div class="rpgtop">
  <a href="http://www.gamedev.ru/top/"><img src="http://top.gamedev.ru/img/?id=202" width="88" height="31" style="border: 0;" alt="Топ Разработка игр" /></a>
</div>

<a target="_blank" href="http://myfrpg.com" title="Ролевой Каталог 'ТАНКЪ'"><img src="http://myfrpg.com/images/pr/tank.gif" border="0"></a>
