<div class="rpgtop">
  <a href="http://top.roleplay.ru/12842" title="Рейтинг Ролевых Ресурсов - RPG TOP" target="top_">
    <img src="http://img.rpgtop.su/88x31x11x3.gif" alt="Рейтинг Ролевых Ресурсов - RPG TOP" border="0" width="88" height="31"></a>
</div>

<div class="rpgtop">
  <a href="http://forum-top.ru/vote/1890" title="Рейтинг форумов Forum-top.ru" target="blank"><img src="http://forum-top.ru/uploads/buttons/forum-top_88x31_3.gif" alt="Рейтинг форумов Forum-top.ru"/></a>
</div>

<div class="rpgtop">
  <a title="Каталог фэнтези сайтов Палантир" href='http://palantir.in/?from=12390' target='_blank'>
    <script type="text/javascript">
      Md=document;Mnv=navigator;
      Mrn=Math.random();Mn=(Mnv.appName.substring(0,2)=="Mi")?0:1;Mp=0;Mz="p="+Mp+"&";
      Ms=screen;Mz+="wh="+Ms.width+'x'+Ms.height;My="<img src='http://palantir.in/count.php?id=12390&cid=counter2007_20.png";My+="&cntc=none&rand="+Mrn+"&"+Mz+"&referer="+escape(Md.referrer)+'&pg='+escape(window.location.href);My+="'  alt='Palantir' title='Каталог фэнтези сайтов Палантир' border='0' width='88px' height='31px'>";Md.write(My);</script>
    <noscript><img src="http://palantir.in/count.php?id=12390&cid=counter2007_20.png" alt='Palantir' title="Каталог фэнтези сайтов Палантир" border=0 width="88px" height="31px"></noscript>
  </a>
</div>

<div class="rpgtop">
  <a href="http://www.gamedev.ru/top/"><img src="http://top.gamedev.ru/img/?id=202" width="88" height="31" style="border: 0;" alt="Топ Разработка игр" /></a>
</div>

<div class="rpgtop">
  <a title="Каталог фэнтези сайтов Палантир" href='http://palantir.in/?from=12390' target='_blank'>
    <script type="text/javascript">
      Md=document;Mnv=navigator;
      Mrn=Math.random();Mn=(Mnv.appName.substring(0,2)=="Mi")?0:1;Mp=0;Mz="p="+Mp+"&";
      Ms=screen;Mz+="wh="+Ms.width+'x'+Ms.height;My="<img src='http://palantir.in/count.php?id=12390&cid=counter2007_20.png";My+="&cntc=none&rand="+Mrn+"&"+Mz+"&referer="+escape(Md.referrer)+'&pg='+escape(window.location.href);My+="'  alt='Palantir' title='Каталог фэнтези сайтов Палантир' border='0' width='88px' height='31px'>";Md.write(My);</script>
    <noscript><img src="http://palantir.in/count.php?id=12390&cid=counter2007_20.png" alt='Palantir' title="Каталог фэнтези сайтов Палантир" border=0 width="88px" height="31px"></noscript>
  </a>
</div>

<a target="_blank" href="http://myfrpg.com" title="Ролевой Каталог 'ТАНКЪ'"><img src="http://myfrpg.com/images/pr/tank.gif" border="0"></a>

<div class="rpgtop">
  <script language="JavaScript">
    d = new Date();
    var m = d.getTime();
    m=m+'&url=';
    m=m+self.location;
    var a='<a title="Каталог фэнтези сайтов и банерообменная система Палантир" href="http://palantir.in/index.php?from=12390&rand='+m+'" target="_blank"><img alt="Каталог фэнтези сайтов и банерообменная система Палантир" src="http://palantir.in/showban2.php?type=1&from=12390&rand=' + m;
    a=a+'" width="88" height="31" border="0"></a>';
    document.write(a);
  </script>
  <noscript><a title="Каталог фэнтези сайтов и банерообменная система Палантир" href="http://palantir.in/index.php?from=12390" target="_blank"><img alt="Каталог фэнтези сайтов и банерообменная система Палантир" src="http://palantir.in/showban2.php?type=1&from=12390" width="88" height="31" border="0"></a></noscript>
</div>

<div class="rpgtop">
  <script language="JavaScript">
    d = new Date();
    var m = d.getTime();
    m=m+'&url=';
    m=m+self.location;
    var a='<a title="Каталог фэнтези сайтов и банерообменная система Палантир" href="http://palantir.in/index.php?from=12390&rand='+m+'" target="_blank"><img alt="Каталог фэнтези сайтов и банерообменная система Палантир" src="http://palantir.in/showban2.php?type=1&from=12390&rand=' + m;
    a=a+'" width="88" height="31" border="0"></a>';
    document.write(a);
  </script>
  <noscript><a title="Каталог фэнтези сайтов и банерообменная система Палантир" href="http://palantir.in/index.php?from=12390" target="_blank"><img alt="Каталог фэнтези сайтов и банерообменная система Палантир" src="http://palantir.in/showban2.php?type=1&from=12390" width="88" height="31" border="0"></a></noscript>
</div>
