.bottommenu
  %ul
    %li
      %a{href: "/"} Главная
    %li
      %a{href: "#"} Карта сайта
    %li
      %a{href: "/pages/about"} О проекте
    %li
      %a{href: "/temple"} Монастырь
    %li
      %a{href: "/pages/map"} Карта
    %li
      %a{href: "/chars/new"} Анкета
    %li
      %a{href: "/pages/rpg_rules"} Правила РПГ
    %li
      %a{href: "/pages/temple_rules"} Правила Монастыря
  %ul
    %li
      %a{href: "#"} Как начать игру
    %li
      %a{href: "/skills/magic"} Способности
    %li
      %a{href: "/skills/phisic"} Навыки
    %li
      %a{href: "/chars"} Персонажи
    %li
      %a{href: "#"} Помощь по игре
    %li
      %a{href: "#"} Библиотека
    %li
      %a{href: "/blog"} Блог Мастеров
    %li
      %a{href: "#"} Газета
  %ul
    %li
      %a{href: "/guestbook"} Гостевой Свиток
    %li
      %a{href: "/pages/contacts"} Контакты
.copy
  © #{link_to "Форумная ролевая игра (ФРПГ) «Храм Мудрости»", "http://templeofwisdom.ru/", :alt => "Форумная ролевая игра (ФРПГ) «Храм Мудрости»"} 2010-#{Date.today.year}