<span class="counters">
  <div id='li'>
    <script type='text/javascript'>
      var el = document.createElement('img');
      var attr = "//counter.yadro.ru/hit?t26.6;r"+
        escape(document.referrer)+((typeof(screen)=="undefined")?"":
        ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
          screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
        ";h"+escape(document.title.substring(0,80))+";"+Math.random();
      el.setAttribute('src', attr);
      var li = document.getElementById('li');
      li.appendChild(el);
    </script>
  </div>

<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
  (function(w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter2964550 = new Ya.Metrika(2964550);
        yaCounter2964550.clickmap(true);
        yaCounter2964550.trackLinks(true);

      } catch(e) {}
    });
  })(window, 'yandex_metrika_callbacks');
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div style="position:absolute"><img src="//mc.yandex.ru/watch/2964550" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17535376-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</span>
