.role-app-form-wrap.any-form
  .form-line
    %label{for:'app_head'}
      Заголовок:
    %input.inp.inp-type2{'ng-model'=>'sApp.head', id:'app_head'}
  .form-line
    %label{for: 'app_paths'}
      Ссылки (по одной на строке):
    .textarea
      %textarea.inp.inp-type2{'ng-model'=>'sApp.paths', id:'app_paths'}
  .form-line
    %label{for:'app_char_id'}
      От лица:
    %select.inp.inp-type2{'ng-model'=>'sApp.char_id', id:'app_char_id', chosen:'', 'data-placeholder'=>'Персонаж...', 'ng-options'=>'char.id as char.name for char in currentUser.activeChars'}
      %option{value:''}
  .form-line.form-btn
    %button.btn.btn-standart{'ng-click'=>'sApp.id ? updateApp(sApp) : createApp()'}
      Отправить
    %button.btn.btn-standart{'ng-click'=>'closeEdit()'}
      Отменить





