- content_for :pagetitle do
  = t("pages.show.root")

.text-simple
  %p
    Здравствуй путник. Ты стоишь на пороге форумной ролевой игры «Храм Мудрости». Здесь тебе будут рады,
    ведь такие встречи не бывают случайными. В Линь Ян Шо ты можешь обрести покой или найти занятие по
    душе. Тебе откроются древние тайны врачевания, будет подвластна магия стихий и боевые искусства.
    У каждого здесь свой путь и тебе решать, каким он будет. Что выберешь ты? Путь спокойного изучения
    могущественных способностей или возможность стать великим воином? Все в твоих руках.
  %p
    Форумная ролевая игра (ФРПГ или ЛРПГ) «Храм Мудрости» откроет тебе свои двери и покажет все, что ты
    пожелаешь увидеть и почувствовать. Ты увидишь, как спокойна жизнь на Тибетском плато, сможешь
    сравнить ее с приключениями, что ждут тебя по всему миру. Ты обретешь здесь друзей и наставников.
    Они помогут тебе познать этот мир, научат Воздух петь в твоих руках, а Огонь танцевать на ладони.
    Вода будет настолько изменчива, насколько ты пожелаешь, а Земля подарит тебе свою уверенность. Ты
    сможешь смотреть в будущее и определять свою жизнь, избегая ошибок. Тебе расскажут тайны ментальной
    магии и телекинеза и помогут осознать внутреннего Зверя. С мастерами форумной игры «Храм Мудрости»
    ты пройдешь путь от ученика до знатока многих боевых искусств.
  %p
    Реши, кем ты хочешь быть в мире "Храма Мудрости". Создай
    = succeed "," do
      %a{href: "/articles/howto"} свой образ
    %a{href: "/pages/rules"} правилами монастыря
    и
    = succeed "." do
      %a{href: ""} представься
  %p
    Добро пожаловать в мир восточной магии и боевых искусств.
  .sign Настоятель Монастыря Шэ Бао
  .center
    %a.fontsize-12.bold{href: "/pages/putevoditel"} Путеводитель по монастырю
   
%hr.separator/
 
.newsblock{"ang-controller"=>"NewsCtrl", "ang-init"=>"loadSomeNews(4)"}
  %h2 Новости монастыря
  render :partial => 'news/news'