.full-edit-wrapper.edit-item{'ng-if'=>'editPage.fullEdit'}
  .edit-form
    .form-line.form-min-height
      %span.form-block
        %label{for:"page_head"} Название:
        %input.inp.inp-type2{name:"head", id:"page_head", "ng-model"=>"editPage.head"}
      %span.form-block
        %label{for:"page_alias"} URL:
        %input.inp.inp-type2{name:"page_alias", id:"page_alias", "ng-model"=>"editPage.page_alias"}
      %span.form-block
        %input{type:"checkbox", id:"page_published", "ng-model"=>"editPage.published", "ng-true-value"=>1, "ng-false-value"=>0}
        %label{for:"page_published"}
          Публиковать
          %span
      %span.form-block
        %input{type:"checkbox", id:"page_hidden", "ng-model"=>"editPage.hide_menu", "ng-true-value"=>1, "ng-false-value"=>0}
        %label{for:"page_hidden"}
          Скрыть в меню
          %span
      %span.form-btn{}
        %span.form-close{'ng-click'=>'cancelEdit()'}
          %span.fa.fa-times
    %hr
    .form-line
      %label{for:"page_title"} Заголовок:
      %input.inp.inp-type2{name:"page_title", id:"page_title", "ng-model"=>"editPage.page_title"}
    .form-line.text-area
      %label{for:"page_content"} Содержание:
      .text-area
        %textarea.inp.inp-type2{name:"page_content", id:"page_content", "ng-model"=>"editPage.content"}
    .form-line
      %button.btn.btn-standart{'ng-click'=>'updateItem()'}
        %span.fa.fa-check
        Сохранить
