- content_for :path do
  = link_to "Личный кабинет", profile_path
  %span.fa.fa-arrow-circle-right
  %span
    Верстка газеты

.admin-wrapper.admin-journal{'ng-controller'=>'AdminJournalCtrl'}
  .main-list-wrapper{'ng-hide'=>'current_journal.id'}
    .new-journal.any-form
      %span.field
        %label{for:'new_head'}Заголовок:
        %input.inp.inp-type2{'ng-model'=>'newJ.head', id: 'new_head'}
      %span.field
        %label{for:'new_description'}Описание:
        %input.inp.inp-type2{'ng-model'=>'newJ.description', id:'new_description'}
      %span.field
        %button.btn.btn-standart{'ng-click'=>'createJournal()'}
          %span.fa.fa-check
          Новый выпуск
    .journal-list
      %h4 Список выпусков
      %ol
        %li{'ng-repeat'=>'journal in journals'}
          %span.head{'ng-click'=>'editJournal(journal)'}
            {{journal.head}}
          %span.description
            {{journal.description}}
          %span.fa.fa-eye{'ng-if'=>'!journal.published'}

  .journal-edit-wrapp{'ng-show'=>'current_journal.id && !current_page.id'}
    %span.close{'ng-click'=>'closeJournal()'}
      %span.fa.fa-times
    .journal-edit-form.any-form
      .form-line
        %span.field
          %label{for:'current_journal_head'}Заголовок:
          %input.inp.inp-type2{'ng-model'=>'current_journal.head', id: 'current_journal_head'}
        %span.field
          %label{for:'current_journal_description'}Описание:
          %input.inp.inp-type2{'ng-model'=>'current_journal.description', id:'current_journal_description'}
        %span.field
          %input{id: "current_journal_published", type:'checkbox', "ng-model"=>"current_journal.published" }
          %label{for:"current_journal_published"}
            Опубликован
            %span
      .form-line
        %span
          %label{for:'current_journal_cover'}Обложка:
          %input.inp.inp-type2{'ng-model'=>'current_journal.remote_cover_url', id:'current_journal_cover'}
        %span.show-cover{'ng-if'=>'current_journal.cover_url'}
          %a{href:"{{current_journal.cover_url}}", fancybox:true}
            %span.fa.fa-search
        %span.submit
          %button.btn.btn-standart{'ng-click'=>'updateJournal()'}
            %span.fa.fa-check
            Сохранить
    .pages-list
      %h4 Страницы
      .new-page-form
        %span.field
          %label{for:'new_page_head'}Заголовок:
          %input.inp.inp-type2{'ng-model'=>'newPage.head', id:'new_page_head'}
        %span.field
          %label{for:'new_page_type'}Тип:
          %select.inp.inp-type2{'ng-model'=>'newPage.page_type', id:'new_page_type','ng-options'=>'type.alias as type.name for type in types'}
        %span.field
          %button.btn.btn-standart{'ng-click'=>'createPage()'}
            %span.fa.fa-check
            Добавить страницу
      %ol
        %li{'ng-repeat'=>'page in current_journal.pages'}
          %span.head{'ng-click'=>'editPage(page)'} {{page.head}}
          %span.page_type{} ({{page.type_line}})

  .page-edit-wrap{'ng-show'=>'current_page.id'}
    .page-edit-form.any-form
      .form-line.base-block
        %span.close{'ng-click'=>'closePage()'}
          %span.fa.fa-times
        %span.field
          %label{for:'page_head'}Заголовок:
          %input.inp.inp-type2{'ng-model'=>'current_page.head', id:'page_head'}
        %span.field
          %label{for:'page_type'}Тип:
          %select.inp.inp-type2{'ng-model'=>'current_page.page_type', id:'page_type','ng-options'=>'type.alias as type.name for type in types', 'ng-change'=>'resetPage()'}

      .form-block.article-form{'ng-show'=>'current_page.page_type == "article"'}
        .form-line
          %textarea.inp.inp-type2{'ng-model'=>'current_page.content_text', 'mark-it-up'=>true}
        .form-line
          %span.field
            %label{for:'page_image_url'}Картинка:
            %input.inp.inp-type2{'ng-model'=>'current_page.images_attributes[0].remote_url', id:'page_image_url'}
            %a{href:"{{current_page.images_attributes[0].image_url}}", 'ng-if'=>'current_page.images_attributes[0].image_url', fancybox:true}
              %span.fa.fa-search
          %span.field
            %label{for:'page_content_author'}Автор:
            %input.inp.inp-type2{'ng-model'=>'current_page.content_line', id:'page_content_author'}

      .form-block.newbies-form{'ng-show'=>'current_page.page_type == "newbies"'}
        .form-line
          %span.field
            %label{for:'page_newbies'}
              Список новичков
              %span.hint
                (через запятую)
              \:
            %input.inp.inp-type2{'ng-model'=>'current_page.content_line', id:'page_newbies'}

      .form-block.blocks-form{'ng-show'=>'current_page.page_type == "blocks"'}
        .add_block
          %button.btn.btn-standart{'ng-click'=>'addPageBlock()'}
            %span.fa.fa-plus
            Добавить блок
        .blocks-wrap
          .one-block{'ng-repeat'=>'block in current_page.blocks_attributes', 'ng-hide'=>'block._destroy'}
            .form-line
              %label{for:'block_image_{{$index}}'}
                Картинка
                %span.hint
                  (для удаления вписать !!!)
                \:
              %input.inp.inp-type2{'ng-model'=>'block.remote_url', id:'block_image_{{$index}}'}
              %a{href:"{{block.image_url}}", "ng-if"=>"block.image_url", fancybox: true}
                %span.fa.fa-search
              %span.delete{'ng-click'=>'removePageBlock(block)'}
                %span.fa.fa-times
            .form-line
              %textarea.inp.inp-type2{'ng-model'=>'block.content', 'mark-it-up'=>true}

      .form-block.gallery-form{'ng-show'=>'current_page.page_type == "gallery"'}
        .form-line
          %textarea.inp.inp-type2{'ng-model'=>'current_page.content_text', 'mark-it-up'=>true}
        .form-line.gallery-urls
          .add_block
            %button.btn.btn-standart{'ng-click'=>'addImage()'}
              %span.fa.fa-plus
              Добавить картинку
          .list
            %ol
              %li{'ng-repeat'=>'image in current_page.images_attributes'}
                %label{for:"add_image{{$index}}"} URL:
                %input.inp.inp-type2{'ng-model'=>'image.remote_image_url', id:'add_image{{$index}}'}
        .form-line.gallery-images
          .one-img{'ng-repeat'=>'image in current_page.images'}
            %a{href:"{{image.image_url}}",fancybox:true}
              %img{'ng-src'=>"{{image.thumb_url}}"}
            %span.delete{'ng-click'=>'removeImage(image)'}
              %span.fa.fa-times
      .form-line
        %label{for:'page_tags_{{current_page.id}}'}Тэги:
        %input{type:'text', 'ng-model'=>'current_page.tags', href:'/journal_tags.json', tokeninput:''}
      .form-line
        %button.btn.btn-standart{'ng-click'=>'updatePage()'}
          %span.fa.fa-check
          Сохранить
        {{save_status}}




