.pending-wrap
  %h4 Новые анкеты
  %table.penting-chars-tab.chars-tab.ngtable
    %thead
      %tr.char-head
        %th.char-id №
        %th.char-name Имя
        %th.char-owner Игрок
        %th.char-group Группа
        %th.char-created Создан
        %th.char-btn
    %tbody
      %tr.one-line{'ng-repeat'=>'char in chars.pending'}
        %td.char-id{}
          {{char.id}}
        %td.char-name{}
          %span{'ng-click'=>'showFull(char)'} {{char.name}}
        %td.char-owner
          %a{href:'/users/{{char.owner.id}}', target:'_blank'} {{char.owner.name}}
        %td.char-group
          {{char.group_name}}
        %td.char-created
          {{char.createdAt}}
        %td.char-btn
          %span.fa.fa-check{title:"Принять", 'ng-click'=>'acceptChar(char)'}
          %span.fa.fa-times{title:'Отклонить', 'ng-click'=>'declineChar(char)'}
