.pending-wrap
  %h4{'ng-click'=>'hideSaved = !hideSaved'} Не опубликованные
  %table.penting-chars-tab.chars-tab.ngtable{'ng-hide'=>'hideSaved'}
    %thead
      %tr.char-head
        %th.char-id №
        %th.char-name Имя
        %th.char-owner Игрок
        %th.char-group Группа
        %th.char-created Создан
    %tbody
      %tr.one-line{'ng-repeat'=>'char in chars.saved'}
        %td.char-id{}
          {{char.id}}
        %td.char-name{}
          %span{'ng-click'=>'showFull(char)'} {{char.name}}
        %td.char-owner
          %a{href:'/users/{{char.owner.id}}', target:'_blank'} {{char.owner.name}}
        %td.char-group
          {{char.group_name}}
        %td.char-created
          {{char.createdAt}}
