- content_for :path do
  = link_to "Личный кабинет", profile_path
  %span.fa.fa-arrow-circle-right
  = link_to 'Управление ролевками', roles_path
  %span.fa.fa-arrow-circle-right
  %span
    Редактирование ролевки

.admin-wrapper{'ng-controller'=>'RolesFormCtrl', 'ng-init'=>"loadRole(#{params[:id]})"}
  = render partial: 'form'
