.page-wrapper#wrapper{'ng-controller'=>'JournalCtrl', 'ng-init'=>"initJournal(#{params[:id]}, #{params[:page] ? params[:page].to_i-1 : -1})"}
  %journal-pager{journal:"journal", onset:'getPage(page)'}
  .main
    .col
      &nbsp;
    .mh-content{'ng-hide'=>'journal.current_page >= 0'}
      %h1{} {{journal.head}}
      .mh-newspaper
        %img.mh-mainpic{'ng-src'=>'{{journal.cover}}', 'ng-if'=>'journal.cover'}
    .mh-content{'ng-show'=>'journal.current_page >= 0'}
      = render partial: 'page'

  %journal-pager{journal:"journal", onset:'getPage(page)'}

