' Ваша заявка на #{ request.add_new? ? 'добавление' : 'повышение'}
' #{ request.skill.phisic? ? 'навыка' : 'способности' } [b]#{ request.skill_name }[/b]
' персонажу [b]#{ request.char.name }[/b] принята.