%div{"ng-controller"=>"ShowCharCtrl", "ng-init"=>"loadChar(#{@char.id})"}
  %table.profile
    %tr
      %td.profile-col
        .profile-photo
          %img{src: "{{char.avatar}}"}/
        .profile-name{} {{char.name}}
        .profile-status{} {{char.status_line || char.status}}
        .profile-element
          %b Дата рождения:
          {{char.profile.birth_date}}
        .profile-element
          %b Возраст:
          {{char.profile.real_age}}
        .profile-element
          %b Место рождения:
          {{char.profile.place}}
        .profile-element
          %b Контакты
          %br/
          %b E-mail:
          %a{href: "mailto:erisa@pochta.ru"} erisa@pochta.ru
          %br/
          %b ICQ:
          219855244
        .profile-element
          .edit ⤴
          %b Баллы:
          392
        .profile-element
          %b Животное:
          Белый тигр
        .profile-element.skills
          .edit ⤴
          %b.title Навыки:
          %ul
            %li
              %a.skill-name{href: "#"} Рукопашный бой
              — Наставник
            %li
              %a.skill-name{href: "#"} Бо
              — Наставник
            %li
              %a.skill-name{href: "#"} Катана
              — Наставник
            %li
              %a.skill-name{href: "#"} Каллиграфия
              — Старший Мастер
            %li
              %a.skill-name{href: "#"} Дзё
              — Мастер
        .profile-element.skills
          .edit ⤴
          %b.title Способности:
          %ul
            %li
              %a.skill-name{href: "#"} Превращение
              — Наставник
            %li
              %a.skill-name{href: "#"} Магия Огня
              — Наставник
            %li
              %a.skill-name{href: "#"} Врачевание
              — Наставник
            %li
              %a.skill-name{href: "#"} Рунная магия
              — Старший Мастер
            %li
              %a.skill-name{href: "#"} Дзё
              — Мастер
        .profile-element
          .edit ⤴
          %b.title Комментарии:
          %br/
          Образ на аватаре - Ли Бинбин
        .profile-element
          %a{href: "#"} ← Правила РПГ
      %td.profile-content
        .profile-content-one
          .title Биография
          .text
            %p
              Родилась в Покхаре в поселении клана Белых Тигров. В клане жесткая кастовая система,
              поэтому Шэн, которой было суждено стать воином клана, воспитывалась отцом и никогда
              не знала свою мать – представительницу касты женщин клана. Магические способности
              проявились рано. Сначала магия Огня, выразившаяся в нескольких пожарах дома, затем
              присущая всем представителям клана способность превращаться в белого тигра.
            %p
              С раннего детства Шэн готовилась стать воином, и в 16 лет уже воевала за родной клан.
              Отец мог бы ей гордиться – он воспитал из юной тигрицы отличного сына и храброго
              воина, знающего, что такое честь, благородство и готовность погибнуть за родной
              клан. Но вот случилась незадача – однажды в клан приехал молодой представитель
              английской ветви белых тигров, Билл Хокинг. Так как он горел желанием за полгода
              научиться боевым искусствам, а Шэн готовилась стать инструктором, в порядке
              эксперимента её назначили инструктором Билла. С обязанностями сифу тигрица
              справилась отлично и могла претендовать на дальнейшее обучение в Лумбини, если бы
              безмерно трогательное прощание с учеником накануне его отъезда в родной Лондон не
              закончилось незапланированной беременностью сурового боевика клана. Шэн покинула
              клан, скрываясь в горах, и вернулась лишь после того, как новорожденный тигренок
              был отправлен виновнику торжества. Шэн признала сына лишь двадцать лет спустя,
              когда судьбе было угодно вновь напомнить тигрице о событиях прошлого. До этого она
              успела провести несколько лет, обучаясь боевым искусствам в Лумбини, затем были
              семь лет путешествий по Европе, в основном проведенных в Исландии за изучением
              Рунной магии. Также некоторое время Шэн работала в Англии, служа инструктором при
              одном могущественном и некогда очень уважаемом ею маге. Но обстоятельства сложились
              так, что чувство долга обязало Шэн покинуть Бирмингем с бывшей женой мастера,
              которой было необходимо скрыться с новорожденным младенцем на руках. Так Шэн и Руж
              оказались в Тибете, где Провидение привело их к стенам Линь Ян Шо.
        .profile-content-one
          .title Физические данные
          .text
            Находится в превосходной физической форме благодаря регулярным тренировкам, которые
            считает необходимыми для воина клана. Сильная, ловкая, выносливая. Благодаря
            внимательному отношению к себе и навыкам врачевателя выглядит намного младше своего
            возраста.
        .profile-content-one
          .title Внешность
          .text
            рост 168 см, спортивное телосложение, однако скорее жилистая, чем мускулистая.
            Азиатские черты лица. После первого не сильно удачного превращения осталось много
            следов звериного облика: янтарные глаза с чуть вертикальными зрачками, серебристо-белые
            волосы до пояса структурой напоминающие тигриную шерсть, темные полосы на спине, груди
            и бедрах, напоминающие рисунок на шкуре тигра.
        .profile-content-one
          .title Характер
          .text
            невыносимый. Категорична в суждениях, упряма и вспыльчива. Требовательна к себе и
            окружающим, не умеет признавать собственную неправоту, считая, что порой совершает
            правильные поступки, приводящие к неприятным последствиям. Всегда готова прйти на
            помощь тем, кто в ней нуждается и тем, кто, по глубокому убеждению тигрицы, может в ней
            нуждаться. Фанатично предана клану и тем, кому соглашается служить. Несмотря на
            неоднозначную биографию за любые попытки увидеть в ней женщину, а не воина клана,
            порвет на месте.
        .profile-content-one
          .title Предметы
          .text
            четки из красной яшмы, чашка, привезенная ещё из родной Покхары, шест бо длиной 186 см,
            катана (сталь, лезвие 65 см, рукоять переплетена черным шнуром, хранится в черных
            ножнах и на свет показывается редко), кинжал, подаренный учителем из Исландии (стальное
            обоюдоострое лезвие длиной 30 см, на которое нанесено изображение змейки, на рукояти
            едва различимое изображение тигра, выжженное на кожаной оплетке).
        .profile-content-one
          .title Прочее
          .text
            Ученики:
            %br/
            %ol
              %li Стивен Картрайт
              %li Рёнорэ Агасати
              %li Хиджиката Шиина
              %li Дэйю Шан
              %li Лана Вирт
              %li Юэ Хо
              %li Лун Хо
              %li Владлен Воропаев
              %li Фэй Линг
              %li Китаро Тенко
              %li Илья Тробос
              %li Лан Хэмптон
        .profile-content-one.profile-rglist
          .title Ролевые игры
          .profile-rglist-open Посмотреть список ↓
          .profile-rglist-open Свернуть список ↑
          .text
            .roll
              %span.rname
                %a{href: "http://templeofwisdom.ru/temple/viewtopic.php?f=67&t=159", target: "_blank"} Возвращение домой
              %span.rballs Баллы - 30
              %span#r146.rskills
                %span.don Магия Огня
                %span Врачевание
            .roll
              %span.rname
                %a{href: "http://templeofwisdom.ru/temple/viewtopic.php?f=67&t=159", target: "_blank"} Возвращение домой Возвращение домой Возвращение домой
              %span.rballs Баллы - 130
              %span#r147.rskills
                %span.don Магия Огня
            .roll
              %span.rname
                %a{href: "http://templeofwisdom.ru/temple/viewtopic.php?f=67&t=159", target: "_blank"} Возвращение домой
              %span.rballs Баллы - 5
              %span#r148.rskills
                %span.don Магия Огня
                %span.don Врачевание
                %span Врачевание
                %span.don Врачевание
                %span Врачевание
                %span.don Врачевание
