.debug_params {
  margin-bottom: 20px;
  padding: 5px;
  background: image-url('bg-beige.png');
  font-size:1.2em;
}
.admin_add_btn {
   text-align: right;
   margin-bottom: 10px;
}

.addnews {
  padding: 20px;
  background-image: image-url('bg-beige.png');
  margin-bottom: 10px;
}

.any-form {
  .form_close {
    cursor: pointer;
    float: right;
    font-size: 1.4em;
    font-weight: bold;
    margin-right: -40px;
  }
}

.blog_post_form {
  textarea.inp {
    width:90%;
    height: 300px;
  }
}

.profile_form_table{
  tr {
    vertical-align: middle;
    td {
      vertical-align: middle;
      input[type=text], input[type=email], input[type=date], input[type=password] {
        width:90%;
      }
      textarea {
        width: 90%;
        height:50px;
      }
      input[type=submit] {
        cursor: pointer;
      }
      .act-line-escape {
        text-align: right;
        padding-right: 10%;
      }
      input.ng-invalid.ng-dirty {
        border-color: red;
      }
    }
  }
}

.form-errors {
  color: red;
  padding: 5px;
  .error-line {

  }
}

.anketa {
  .btn-green {
    display: inline-block;
    margin-right: 6px;
  }
}

