@import 'variables';

/*
  User Admin
*/
.admin-wrapper {

  .user-filter {
    margin-bottom: 10px;
    text-align: right;
  }

  .ngtable {
    width:100%;
    border-collapse: collapse;
    th {
      border: 1px solid @color-green6;
      background: @color-green6;
      vertical-align: middle;
      padding:5px;
      &.center {
        text-align: center;
      }
    }
    .header {
      height:auto;
      padding-bottom: 7px;
      font-size: 1.1em;
      &.sortable {
        cursor: pointer;
        &.sort-asc, &.sort-desc {
          color: @color-brown;
        }
      }
    }
    .one-line {
      td {
        vertical-align: middle;
        border: 1px solid @color-brown1;
        padding:5px;
        background:@bgimg-beige;
        &.center {
          text-align: center;
        }
        .btn-standart {
          margin: 0 2px;
          font-size: 0.8em;
        }
        &.line-remove {
          span {
            &:hover {
              color: @color-red;
            }
          }
        }
      }
      .line-edit, .line-name {
        cursor: pointer;
        font-size: 1.1em;
      }
      &:hover td {
        .box-shadow(0px 0px 9px -1px rgba(0,0,0,0.5));
      }
      &.unread td {
        background: @color-brown1 + 90;
        font-weight: bold;
      }
    }
    tfoot {
      margin-top: 10px;
    }
    .ng-table-pagination {
      margin-top: 10px;
      li {
        display: inline-block;
        padding: 0 5px;
        cursor: pointer;
        a {
          text-decoration: none;
          &.page-arrow {
            font-size: 1.1em;
          }
        }
        &.disabled {
          cursor: auto;
          a {
            color: @color-grey;
            .one-page {
              color: @color-brown2;
              font-size: 1.2em;
              cursor: auto;
              font-weight: bold;
            }
          }
        }
      }
    }
    .ng-table-counts{
      button {
        margin-right: 5px;
        &.active {
          background-color: @color-pistache;
        }
      }
    }
  }

  .edit-user-div {
    background: @bgimg-beige;
    padding: 10px;
    margin-top: 20px;
    .user-info-table {
      .form-head {
        font-weight: bold;
        font-size:1.1em;
      }
    }
    .info-wrap {
      display: inline-block;
      margin-right: 10px;

      vertical-align: top;
      .line {
        margin-bottom: 3px;
        &.one-char-line {
          margin-bottom: 10px;
        }
        .char-name {
          font-size: 1.2em;
        }
      }
    }

  }

  .edit-close {
    float: right;
    color: @color-red;
    font-size: 1.4em;
    margin-right: 2px;
  }

  .destroyed-users-wrap {
    margin-top: 10px;
    font-size: 0.9em;
    .destroyed-user {
      color: @color-green2;
    }
  }

  .pending-wrap {
    margin-top: 20px;
    margin-top: 20px;
  }

  .chars-tab {
    &.penting-chars-tab {
      width: auto;
      min-width: 400px;
    }
    th {
      font-size: 1.1em;
      font-weight: bold;
      border-bottom: 1px dashed @color-brown2;
      padding-bottom: 5px;
    }
    tr.one-line {
      td {
        &.char-name {
          font-weight: bold;
          cursor: pointer;
        }
        &.char-btn {
          text-align: right;
          span {
            cursor: pointer;
            margin-left: 6px;
            &:hover {
              text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.7);
            }
          }
        }
      }
    }
  }

  .ng-modal {
    .ng-modal-dialog {
      top:0;
      box-shadow: -40px 0 110px 86px rgba(0, 0, 0, 0.5);
      width:800px;
      transform: translate(-50%,0);
      padding: 0 10px 20px 10px;
      .modal-one {
        overflow: auto;
        &.modal-edit {
          height: 600px;
          .skills-add-form {
            padding-top: 0;
          }
        }
        &.modal-show {
          height:600px
        }
        .profile_show {
          .form-line {
            padding-bottom: 5px;
          }
        }
      }
    }
  }

  .char-edit-form {
    table {
      tr {
        td {
          vertical-align: middle;
          padding: 3px 0;
          &.input-btn {
            button {
              margin-left: 0;
            }
          }
          &.label {
            font-size: 1.1em;
            text-align: right;
            font-weight: bold;
            padding-right: 10px;
            width:30%;
          }
          textarea {
            height:150px;
          }
        }
      }
    }
  }

  .role-apps-wrap {
    margin-top: 30px;
    .role-apps-tab {
      width: 100%;
      th {
        font-size:1.1em;
        padding-bottom: 10px;
        padding-left: 10px;
      }
      td {
        vertical-align: middle;
        padding: 7px 0 7px 10px;
        &.app-head {
          font-size: 1.1em;
        }
        .btn-standart {
          font-size: 1em;
        }
      }
    }
  }

  .ips-list-wrap {
    .ips-list-line {
      margin: 2px 0;
      padding: 3px;
      &:hover {
        background-image: @bgimg-beige;
      }
      span {
        display: inline-block;
      }
      .ip-user-name {
        font-size: 1.1em;
        padding-right: 9px;
        min-width: 200px;
        a {
          text-decoration: none;
        }
        &.active {
          font-weight: bold;
        }
      }
      .ip-user-ips {
        span {
          padding-right: 8px;
          cursor:pointer;
          &:hover {
            color: @color-orange2;
          }
          &.active {
            font-weight:bold;
            cursor: auto;
          }
        }
      }
    }
  }
}

/*
  Forum Admin
*/

.forum-admin {
  #tree-root {
    .forum-tree-btn {
      float: right;
      margin-left: 7px;
      cursor: pointer;
      &:hover {
        color: @color-orange2;
      }
    }
    .angular-ui-tree-node .new-item {
      padding-bottom: 3px;
      padding-left: 20px;
      padding-top: 3px;
    }
    .new-form {
      width: 100%;
      height: 20px;
      .form-block {
        float: left;
        margin-right: 4px;
        padding-right: 4px;
        border-right: 1px dashed @color-brown;
      }
    }
    .tree-node-content {
      .forum-hint {
        font-weight: normal;
        font-size:0.9em;
        color: @color-brown;
      }
    }
    .new-root {
      margin-top: 15px;
      padding: 7px;
      background: @bgimg-beige;
      .new-form-head {
        padding-bottom: 5px;
        font-weight: bold;
      }
    }
  }
  .edit-item {
    background: @bgimg-beige;
    padding: 7px;
    .edit-form{
      min-height: 20px;
      .form-line {
        margin-bottom: 4px;
        .form-block {
          border-right: 1px dashed #72594e;
          float: left;
          margin-right: 4px;
          padding-right: 4px;
        }
        &.form-min-height{
          min-height: 25px;
        }
        .text-area {
          display: block;
          width: 100%;
          textarea {
            width:90%;
            height: 150px;
          }
        }
      }
    }
  }
  .tree-save {
    margin-top: 10px;
  }
}
.tree-node {
  &:hover {
    background: @bgimg-beige;
  }
  .forum-tree-toggle {
    cursor: pointer;
  }
}

.angular-ui-tree-nodes{
  display:block;
  position:relative;
  margin:0;
  padding:0;
  list-style:none;

  &.hidden {
    display: none;
  }

  .angular-ui-tree-nodes {
    padding-left:20px
  }
}
.angular-ui-tree-placeholder{
  margin:5px 0;
  padding:0;
  min-height:30px;
  width:auto;
  border: 1px dashed @color-brown;
}
.angular-ui-tree-handle {
  cursor: move;
  text-decoration:none;
  font-weight:700;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  min-height:20px;
  line-height:20px;
}
.angular-ui-tree-node {
  .angular-ui-tree-placeholder {
    display:block;
    position:relative;
    margin:0;
    padding:0;
    min-height:20px;
    line-height:20px;
  }
}
.angular-ui-tree-drag {
  position:absolute;
  pointer-events:none;
  z-index:999;
  opacity:.8;
  .forum-tree-btn {
    display: none;
  }
}

.role-form-wrap {
  .main-role-info {
    background: @color-green7;
    border: 1px solid #aaa77a;
    padding: 10px 10px 0;

    .form-tab {
      td {
        vertical-align: middle;
        padding: 3px 0;
        &.label {
          width:80px;
        }
      }
    }
    .inp {
      width: 300px;
    }
  }
  .add-char-role-form {
    text-align: right;
    margin: 7px 0;
    button {
      margin-right: 0;
    }
    select {
      width:200px;
    }
    .select{
      text-align: left;
    }
  }
  .char_roles_wrap {
    .one-char-role {
      margin-bottom: 10px;
      .char-role-remove {
        float:right;
        font-size: 1.1em;
        padding: 6px;
      }
      .roll_user_tab {
        background: none repeat scroll 0 0 #ede7d2;
        border: 1px solid #757c52;
        border-collapse: collapse;
        width: 100%;
        .rtd1 {
          background: none repeat scroll 0 0 #a7ae84;
          border-right: 1px solid #bbc298;
          font-family: ChinaCyrregular;
          font-size: 1.3em;
          font-weight: bold;
          padding: 0 5px;
          vertical-align: middle;
        }
        .rtd2 {
          border-right: 1px solid #757c52;
          font-weight: bold;
          padding: 10px;
          width: 200px;
          textarea {
            width: 188px;
            height: 70px;
          }
        }
        .rtd3 {
          border: 1px solid #757c52;
          font-weight: bold;
          padding: 10px;
          text-align: right;
          width: 150px;
          .inp {
            margin-bottom: 5px;
            text-align: center;
            width: 30px;
          }
        }
        .rtd4 {
          padding: 10px;
          select {
            width: 280px;
          }
          .sk_do_add {
            cursor: pointer;
            font-size: 1.2em;
            font-weight: bold;
          }
          .sk_do_add:hover {
            color: #087100;
          }
          .char-role-skills{
            margin-top: 5px;
            .skill-line {
              padding-bottom: 3px;
              .skill {
                font-style: italic;
                cursor: pointer;
                &.done {
                  color: @color-brown1;
                }
              }
            }
          }
        }
      }
    }
  }
  .comment-wrap {
    background: none repeat scroll 0 0 #e6e3b6;
    border: 1px solid #aaa77a;
    padding: 10px 10px 10px 20px;
    span {
      display: block;
      font-size: 1.5em;
    }
    textarea {
      height: 100px;
      margin-top: 10px;
      width: 600px;
    }
  }
  .button-wrap {
    font-size: 1.3em;
    margin-top: 10px;
    padding: 2px 50px;
  }
}
.role_apps_wrap {
  .new-role-app-wrap {
    margin-bottom: 15px;
    .new-app-btn {
      text-align: right;
      button {
        margin-right: 0;
      }
    }
    .role-app-form-wrap {
      background: @color-green7;
      border: 1px solid #aaa77a;
      padding: 10px 10px 0;
      margin: 10px 0;
    }
  }
  .role_apps_tab {
    width:100%;
    th {
      font-weight: bold;
      font-size: 1.1em;
      padding-bottom: 5px;
      border-bottom: 1px dashed @color-brown;
    }
    td {
      padding: 10px 0;
      border-bottom: 1px dashed @color-brown;
      vertical-align: middle;
    }
    .app-head {
      width:30%;
    }
    .app-paths {
      width:50%
    }
    .app-date {
      width:15%;
    }
    .app-btn {
      text-align: right;
      span {
        margin-left: 5px;
        cursor: pointer;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
  .role-app-form-wrap {
    input {
      width:300px;
    }
    textarea {
      width:90%;
      height:100px;
    }
    select {
      width:200px;
    }
    .form-btn {
      margin-top: 10px;
      button {
        margin: 0 10px 0 0;
      }
    }
  }
}