//@import 'base_less';
//@import "sizes";
@import 'style';

.forum {
  @include clearfix;
  position: relative;
  background: $bgimg-beige;
  padding: 10px;

  .path {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.7);
  }
}

// FORUM TABLE

.forum-tab {
  width:100%;
//  border-collapse: collapse;
  @include box-shadow(0px 0px 5px 1px rgba(117,124,82,0.8));
  border:1px solid $color-green2;
  &:after {
	content:" ";
	position: absolute;
	right:17px;
	top:39px;
	display: block;
	width:250px;
	height:47px;
//	background: image-url('leaves.png');
  }

  th {
	vertical-align: middle;
	background-color: $color-green2 + 50;
	padding:5px 10px;
	border:1px solid $color-green2;
	text-align: center;

	&.f-topics {width:40px;}
	&.f-messages {width:80px;}
	&.f-lastmessage {width:160px;}
    &.f-moderate {
      width:20px;
      label {
        padding: 0;
      }
    }
    &.f-message-author {
      width:200px;
    }
  }

  td {
	border-bottom:1px dashed $color-green2;
	vertical-align: middle;
	padding:5px 10px;

	&.f-section-name {
	  background: $bgimg-beige;
	  position:relative;
	  a {
		font-weight: bold;
		text-decoration: none;
		&:hover {
		  color:$color-green2;
		}
	  }
	}

	&.f-icon {
      width: 40px;
	  span {
		display: block;
		width:38px;
		height:38px;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 auto;
	  }
	  &.f-icon-forum span {
		background-image: image-url('forum/topic_unread.png');
	  }
	}

	&.f-sections {
	  line-height:1.2em;
	  .f-topics-section-name {
		font-size: 1.2em;
		line-height:1.2em;
		a {
		  text-decoration: none;
		  font-weight: bold;
		}
	  }
	  .f-topics-subsections {
		a {
		  text-decoration: none;
		  color:$color-green2 - 40;
		}
	  }
	  a:hover {
		text-decoration: underline;
	  }
	}

	&.f-topics,
	&.f-messages {
	  text-align: center;
	}

	&.f-lastmessage {
	  text-align: center;
	  .f-lastmessage-date {
		padding-bottom: 5px;
	  }
	  .f-lastmessage-link {
		a {text-decoration: none;}
		.f-lastmessage-author {
		  color:$color-green2;
		  font-weight: bold;
		  &:hover {
			text-decoration: underline;
		  }
		}
		.f-lastmessage-goto {
		  position: relative;
		  bottom: -1px;
		  font-weight: bold;
		  color:$color-orange1 + 20;
		  font-family: "Times New Roman";
		  line-height:1.3em;
		  font-size:1em;
		  padding:1px 3px;
		  &:hover {
			color:$color-orange3;
		  }
		}
	  }
	}

    &.no-topics {
      text-align: center;
      font-style: italic;
      font-size: 1.1em;
    }

    &.f-message-author {
      width:200px;
    }

  }

  &.one-message-tab {
    margin-bottom: 7px;
  }
}

.forum-wrap {
  .forum-wrap-btn {
    margin-bottom: 10px;
    text-align: right;
    min-height: 25px;
    a {
      padding: 3px 17px;
      text-decoration: none;
    }
    .forum-btn {
      float: right;
      margin-left: 5px;
    }
  }
}

.forum-btn.disabled {
  color: $color-grey;
}

.topic-form {
  .form-tab {
    .label {
      width: 190px;
      padding-right: 10px;
      text-align: right;
      vertical-align: middle;
      font-weight: bold;
      font-size: 1.1em;

      &.label-char {
        vertical-align: top;
        padding-top: 8px;
      }
    }
    .input{
      padding: 5px 0;
      textarea {
        height:400px;
	      resize: vertical;
      }
      &.input-char {
        select {
          width:auto;
          margin-bottom: 5px;
        }
      }
    }
    .input-btn {
      text-align: center;
      a {
        text-decoration: none;
        width:96px;
        height: 19px;
      }
      .forum-btn {
        display: inline-block;
        margin: 0 7px;
        &.disabled {

        }
      }
    }
  }
}

.topic-list-description {
  margin-bottom: 10px;
//  background: $bgimg-beige;
  @include box-shadow(0px 0px 5px 1px rgba(117,124,82,0.8));
  padding: 6px;
  border: 1px solid $color-brown1;
  font-size: 1.1em;
  .forum-description {
    .image {
      img {
        float: left;
        margin: 5px 5px 5px 0;
        border: 3px solid $color-green4;
      }
    }
  }
}

.one-message-tab {
  td {
    vertical-align: top;
    &.f-message-author {
      .message-author-name {
        font-family: ChinaCyrregular;
        font-weight: bold;
        font-size: 1.2em;
        margin-bottom: 5px;
        margin-top: 7px;
        text-align: center;
        text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.7);
      }

      .message-author-category {
        font-size: 1.1em;
        font-style: italic;
        text-align: center;
        text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.7);
      }
    }
    &.f-message-content {
      .message-date {
        text-align: right;
        color: $color-brown1;
        &:hover {
          color:$color-brown2;
          font-size: 1.1em;
        }
      }
      .message-text {
        min-height: 280px;
        .signature {
          margin-top: 10px;
          padding-top: 10px;
          font-style: italic;
          border-top: 1px solid $color-brown1;
        }
        .message-comment {
          padding-left: 30px;
          color: $color-orange2;
          .bold {
            margin-top: 20px;
            margin-bottom: 3px;
          }
          .date {
            color: $color-brown1;
            float: right;
          }
        }
        .message-comment-edit {
          .form-line {
            textarea {
              width:90%;
              height:100px;
            }
            button {
              display: inline-block;
              margin-right: 5px;
            }
          }
        }
        .ooc {
          color: #FFF;
        }
        fieldset {
          background: $bgimg-beige;
          border: 1px dashed $color-brown1;
        }
        .more_more_more {
          .read_more {
            cursor: pointer;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .message-buttons {
        margin-top: 20px;
        text-align: right;
        div {
          display: inline-block;
          margin-left: 2px;
          padding: 5px;
          &.message-edit {
            &:hover {
              color: $color-green3;
              text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.7);
            }
          }
          &.message-destroy {
            &:hover {
              color: $color-red;
              text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.7);
            }
          }
        }
      }
    }
  }

  tr.post-edit {
    td {
      vertical-align: middle;
      &.input {
        padding-left: 15px;
        vertical-align: top;
        padding-top: 15px;
        textarea {
          width: 95%;
        }
        .input-btn {
          margin-top: 5px;
          button, a {
            display: inline-block;
            margin: 2px 5px;
          }
        }
      }
      &.label {
        vertical-align: top;
        text-align: left;
        width:200px;
        .avatar-wrap {
          margin-top: 5px;
        }
      }
    }
    &.inline-edit {
      td {
        textarea {
          height:300px;
        }
      }
    }
  }
  &.active {
    background: $color-beage;
  }
}
.forum-ctrl {
  h1 {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.7);
    &.forum-topic-head {
      span.h1 {
        color: $baseColor;
      }
      .form-inline.editable-wrap {
        display: inline-block;
      }
      .editable-controls {
        width: auto;
        display: inline-block;
        input {
          font-size: 0.9em;
        }
        button {
          background: none;
          border: none;
          cursor: pointer;
          color: $color-brown1;
          &:hover {
            color: $baseColor;
          }
        }
      }
    }
    .forum-topic-edit {
      font-size: 0.5em;
      margin-left: 7px;
    }
  }
}

.topic-reply-form {
  margin-top: 15px;
  .one-message-tab.form-tab {

  }
  .send-notifications {
    margin-top: 7px;
    .line {
      height:22px;
      margin-top: 7px;
    }
  }
}

.topic-posts-count {
  font-size: 0.9em;
  margin: 0;
  padding: 4px 0;
  text-align: right;
  width: 100%;
  span.fa {
    cursor: pointer;
    margin-left: 4px;
  }
}
