.wrapper {
  width: 1064px;
  padding-bottom: 97px;
  .col {
	width:204px;
	border-left-width: 1px;
	padding-bottom: 150px;
	padding-left: 0px;
	padding-right: 20px;
	padding-top:20px;

	.block {
	  padding-left: 20px / 2;
	}
  }
  .content {
	padding:20px;
	padding-right: 20px;
	padding-top: 20px * 1.5;
	width:800px - 1px; // -1 border-width in .col
  }

  .mh-content {
	width: auto!important;
	padding: 40px 100px;
  }
}

// ===================================================================
//							1090 px
// ===================================================================


@media screen and (max-width: 1090px) {
  body {
	.wrapper {
	  width:890px;

	  .col {
		width:204px;
		border-left-width: 1px;
		padding-bottom: 20px * 3;
		padding-left: 0px;
		padding-right: 20px;
		padding-top: 20px;

		.block {
		  padding-left: 20px / 2;
		}
	  }
	  .content {
		padding:20px;
		padding-right: 20px;
		padding-top: 20px * 1.5;
		width:625px - 1px; // -1 border-width in .col
	  }
	}
  // Лого
	.logo {left:5px;}
  // Надпись
	.ljs-text {left:190px;}
  // Форма логина
	.loginform {
	  width: 160px;

	  .loginform-one {
		.loginform-text {font-size: 1.2em;}
		.inp-standart {}
	  }

	  .btn-text {font-size:1.2em;}
	}

  // Меню
	.menu {
	  padding:5px 5px 5px 15px;
	  padding-top: 7px;

	  ul {
		padding-left:20px;

		li {
		  padding-right:6px;

		  a {padding: 4px 5px; font-size: 0.9em;}
		}
	  }
	}


	.textsize {
	  position: absolute;
	  left:0px;
	  top:0px;
	  font-size: 1.1em;
	  .textsize-a {
		font-size: 1.3em;
		height:20px;
		padding:5px 2px 5px 3px;
	  }
	  .textsize-rulers {
		span {
		  height:14px;
		  padding:0px 1px;
		}
	  }
	}

  }
// Добавление ролевок


  .user_blocks {
	.roll_user_div {

	  .roll_user_tab {

		td.rtd1 {
		  font-size:1.2em;
		  padding:0 3px;
		}
		td.rtd2 {
		  padding:10px;
		  width:150px!important;
		  select {
			margin-bottom: 10px;
			width:150px!important;
		  }
		  textarea {
			width:150px!important;
		  }
		}
		td.rtd3 {
		  padding:10px;
		  font-size:0.9em!important;
		  width:140px!important;

		  .inp {
			width:30px;
			margin-bottom: 5px;
		  }
		}
		.rtd4 {
		  padding:10px;

		  select {
			width:180px!important;
		  }
		  .sk_do_add {
			font-size:1.8em;
		  }
		  .sk_add {
			width:205px!important;
			height:84px;
		  }
		}
	  }
	}
  }
// Добавление ролевок: коммент
  .all_comment {
	padding:10px 10px 10px 20px;

	span {
	  font-size: 1.5em;
	}

	textarea {
	  margin-top: 10px;
	  width:570px!important;
	  height: 100px;
	}
  }
// Прием анкет
  .accept_tab {

	td {
	  padding:2px 5px;
	  font-size:0.9em!important;

	  .inp {
		width:80%;
	  }
	}
	.head td {
	  padding:2px 0;
	}
  }
// КОНТАКТЫ

  .person {
	padding:10px;
	width:96%;
	margin: 0px 20px 10px 0;

	.person-name {
	  font-size:1.3em;
	}
  }

  .fish {
	right:40px;
	bottom:-180px;
  }
}

// ===================================================================
//							900 px
// ===================================================================

@media screen and (max-width: 900px) {
  body {

	h1 {font-size:1.5em;}

	.wrapper {
	  width:700px;

	  .col {
		width:124px;
		border-left-width: 1px;
		padding-bottom: 20px * 3;
		padding-left: 0px;
		padding-right: 10px;
		padding-top: 10px;

		.block {
		  padding-left: 20px / 2;
		}

		h3 {
		  font-size: 14px!important;
		}
	  }
	  .content {
		padding:20px;
		padding-right: 20px;
		padding-top: 20px * 1.5;
		width:516px - 1px; // -1 border-width in .col
	  }

	}

  // Боковое меню
	.sidemenu {
	  font-size: 1em;

	  li {
		padding-bottom: 1px;

		a {
		  padding: 1px 2px;
		}
	  }
	}
  }

// РАЗМЕР ШРИФТА

  .textsize {
	position: absolute;
	left:0px!important;
	top:27px!important;
	font-size: 0.9em;
	height:22px!important;
	background: #b6b397;
	z-index:1000!important;
	padding:2px!important;
	@include border-radius(0px 0px 10px 0);
	.textsize-a {
	  font-size: 1.1em!important;
	  height:15px;
	  padding:2px 2px 2px 5px!important;
	}
	.textsize-rulers {
	  span {
		padding:0!important;
		height:10px!important;
		line-height: 10px!important;
		font-size: 10px!important;
	  }
	}
  }

// Меню
  .menu {
	padding:5px 5px 5px 5px!important;
	padding-top: 7px;

	ul {
	  padding-left:10px!important;

	  li {
		padding-right:4px!important;

		a {
		  padding: 4px 4px;
		  font-size: 0.9em!important;
		  @include font-philosopher;
		  font-weight: bold;
		  text-transform: uppercase;
		  color:#040500;
		}
	  }
	}
  }

  // HEADER
  .header {
	height:145px!important;
  }

// Лого
  .logo {
	left:5px;
	background-image: image-url('logo-mini.png');
	width: 70px!important;
	height: 70px!important;
  }
// Надпись
  .ljs-text {
	left:100px!important;
	background-image: image-url('ljs-mini.png');
	width: 300px!important;
	height: 70px!important;
  }
// Форма логина
  .loginform {
	width: 240px!important;
	top:16px!important;

	.loginform-one {
	  float:left;
	  width:120px!important;
	  .loginform-text {font-size: 1.2em;}
	  .inp-standart {
		width:85%!important;
		background-color: #fbf5e8;
		padding:2px 5px!important;
	  }
	}

	.btn-text {
	  font-size:1.2em;
	  display: block;
	  clear: both;
	  margin: 0 0 0 auto;
	}
  }

// Погода
  .weather {
	background-position: -100px 0;
	font-size:0.9em;

	.season {
	  font-size: 1.1em;
	}
  }

// Фраза
  .phrase {
	font-size:0.9em;
	line-height: 1.1em;
  }

// Добавление ролевок
  .user_blocks {
	.roll_user_div {
	  .roll_user_tab {
		td.rtd1 {
		  font-size:1.1em!important;
		  padding:0 2px!important;
		}
		td.rtd2 {
		  padding:10px;
		  width:110px!important;
		  select {
			margin-bottom: 10px;
			width:122px!important;
		  }
		  textarea {
			width:110px!important;
		  }
		}
		td.rtd3 {
		  padding:10px 5px!important;
		  font-size:0.8em!important;
		  width:140px!important;

		  .inp {
			width:13px!important;
			font-size: 1em!important;
			margin-bottom: 5px;
		  }
		}
		.rtd4 {
		  padding:10px;

		  select {
			width:180px!important;
		  }
		  .sk_do_add {
			font-size:1.8em;
		  }
		  .sk_add {
			width:205px!important;
			height:84px;
		  }
		}
	  }
	}
  }
// Добавление ролевок: коммент
  .all_comment {
	padding:10px 10px 10px 10px!important;

	span {
	  font-size: 1.5em;
	}

	textarea {
	  margin-top: 10px;
	  width:480px!important;
	  height: 100px;
	}
  }

  .adm-profiles-table {
	.adm-profiles-col {
	  width:115px!important;
	  padding-right:0px;

	  .up {
		padding: 5px 5px 0px 0;
		margin-bottom: 10px;

		.income,.delete {
		  font-size:1em!important;
		  padding:2px 0px 1px 1px!important;
		  margin-bottom: 5px!important;
		}
		.list_head {
		  margin-top: 5px;
		  padding:2px 5px;
		  font-size:1em!important;
		}

		.a_list {
		  margin-bottom: 10px;
		  font-size:0.9em;
		  .ank_span {
			padding: 2px 5px;
		  }
		}
	  }

	}

	.adm-profiles-main {
	  padding-left: 10px;
	  padding-top:10px;

	  .accept_tab {
		td {
		  padding:2px 5px;
		  .inp {
			width:80%;
		  }
		}
		.head td {
		  padding:2px 2px!important;
		  font-size: 0.8em!important;
		}
	  }

	  .buttons {
		padding-top:10px;

		.btn {
		  padding:1px 15px!important;

		  &.accept {
			margin-right: 10px;
		  }
		}
	  }
	}
  }

  // ЛОГИ
  .logs-table {
	.logs-table-1 {
	  width:105px!important;
	  @extend table-td-left;
	  .llinks {
		padding-right:10px;
		font-size:1em!important;
		a {
		  padding:2px 2px;
		}
	  }
	}

	.logs-table-2 {
	  .llinks {
		padding-left: 10px;
	  }
	  .paginator {
		padding:0 0 10px 0;
	  }

	  .loggs_list {

		.log {
		  padding:0 0 10px 0;
		  margin-bottom:10px;
		  font-size:0.9em!important;
		  .date {
			padding-right:10px;
			font-size:0.9em!important;
		  }
		}

	  }
	}
  }

}



// ===================================================================
//							480 px iPhone Landscape
// ===================================================================

@media screen and (max-width: 480px) {

  .fish,.bottom, .weather, .phrase, .newsshort, .banners, .textsize, .bottommenu, .blogshort {display: none;}
  .top {
	background-image: image-url('top-mini.jpg');
  }

  body {

	h1 {font-size:1.5em;}

	.wrapper {
	  width:450px;

	  .col {
		width:0px!important;
		height:0px!important;
		border: 0px!important;
		padding-bottom: 20px * 3;
		padding-left: 0px;
		padding-right: 10px;
		padding-top: 10px;
		position:static!important;

		.block {
		  padding:0!important;
		  width: 0!important;
		  border: 0!important;
		}

		h3 {
		  display: none!important;
		}
	  }
	  .content {
		padding:20px;
		padding-right: 20px;
		padding-top: 0!important;
		width:410px!important; // -1 border-width in .col
	  }

	}

  // Боковое меню
	.main {
	  position: relative;
	  padding: 0!important;
	}
	.sidemenu {
	  font-size: 0.7em!important;
	  text-transform: uppercase!important;
	  position:absolute;
	  left:0px;
	  top:0px;
	  text-align:left!important;
	  padding:10px 20px 2px 20px!important;
	  width:410px!important;
	  height:auto!important;
	  background: #ede7d2;

	  li {
		padding: 0px 1px 10px 0px!important;
		display:inline-block!important;

		a {
		  padding: 4px 2px!important;
		  background: #d3d0ad;
		  &:active {
			background: #79916f;
			color: #d3d0ad;
		  }
		}
	  }
	}
  }

// Меню
  .menu {
	padding:5px 5px 5px 5px!important;
	padding-top: 7px;

	ul {
	  padding-left:5px!important;
	  text-align:center;
	  line-height:1.4em!important;

	  li {
		padding-right:2px!important;
		padding-bottom:5px!important;

		a {
		  padding: 5px 2px!important;
		  font-size: 1em!important;
		  @include font-philosopher;
		  font-weight: bold;
		  text-transform: uppercase;
		  color:#040500;
		}
	  }
	}
  }

// HEADER
  .header {
	height:145px!important;
  }

// Лого
  .logo {
	left:0px;
	top:0px;
	background-image: image-url('logo-mini.png');
	width: 70px!important;
	height: 70px!important;
  }
// Надпись
  .ljs-text {
	left:90px!important;
	top:30px!important;
	background-image:none!important;
	width: 300px!important;
	height: 70px!important;
	font-size:40px!important;
	text-indent: 0px!important;
	@include font-chinacyr;
  }
// Форма логина
  .loginform {
	width: 400px!important;
	top:76px!important;
	left:20px!important;
	@include box-shadow(0px 0px 0px 0px rgba(0,0,0,0));
	background: #ede7d2;
	padding:5px!important;

	.loginform-one {
	  float:left;
	  width:160px!important;
	  .loginform-text {
		font-size: 1.2em;
		font-weight: bold;
	  }
	  .inp-standart {
		width:85%!important;
		background-color: #fbf5e8;
		padding:2px 5px!important;
	  }
	}

	.btn-text {
	  font-size:1.2em;
	  display: block;
	  clear: none!important;
	  position: relative!important;
	  top:27px!important;
	}
  }

  // Добавление ролевок - название и ссылка
  .roll_all_div {
    .roll_common {
      padding:10px;
      padding-bottom: 0px;

      .comm_option {
        padding-bottom: 10px;

        .inp {
          position: relative!important;
          left:0px!important;
          top:0px;
          clear: both!important;
          width:375px!important;
        }
      }
    }

  }

// Добавление ролевок
  .displayed-td {
    display: block!important;
    clear: both!important;
    position: relative!important;
    width:auto!important;
  }

  .user_blocks {
	.roll_user_div {
	  .roll_user_tab {
        width:550px;
        margin-bottom:30px!important;
        td {
          border:0px!important;
        }
		td.rtd1 {
                          @extend .displayed-td;
		  font-size:1.3em!important;
		  padding:5px 5px!important;
                          text-align: center;
		}
		td.rtd2 {
                          @extend .displayed-td;
		  padding:10px 5px!important;
                          border-bottom:1px solid #c2b9a1!important;
		  select {
			margin-bottom: 10px;
			width:370px!important;
			font-size:1.2em!important;
		  }
		  textarea {
			font-size:1em!important;
			width:358px!important;
                                    height:90px!important;
		  }
		}
		td.rtd3 {
                          @extend  .displayed-td;
                          border-bottom:1px solid #c2b9a1!important;
		  padding:10px 35px 10px 5px!important;
		  font-size:1.3em!important;

		  .inp {
			width:90px!important;
			font-size: 1.1em!important;
			margin-top: 5px!important;
			margin-bottom: 0px!important;
		  }
		}
		.rtd4 {
                          @extend .displayed-td;
		  padding:10px 5px!important;

		  select {
			font-size:1.2em!important;
			width:360px!important;
		  }
		  .sk_do_add {
			font-size:2.2em!important;
                                    padding:5px 10px!important;
		  }
		  .sk_add {
			width:385px!important;
			height:84px;
		  }
		}
	  }
	}
  }
// Добавление ролевок: коммент
  .all_comment {
	padding:10px 10px 10px 10px!important;

	span {
	  font-size: 1.5em;
	}

	textarea {
	  margin-top: 10px;
	  width:375px!important;
	  height: 100px;
	}
  }

  .adm-profiles-table {
	.adm-profiles-col {
	  width:115px!important;
	  padding-right:0px;

	  .up {
		padding: 5px 5px 0px 0;
		margin-bottom: 10px;

		.income,.delete {
		  font-size:1em!important;
		  padding:2px 0px 1px 1px!important;
		  margin-bottom: 5px!important;
		}
		.list_head {
		  margin-top: 5px;
		  padding:2px 5px;
		  font-size:1em!important;
		}

		.a_list {
		  margin-bottom: 10px;
		  font-size:0.9em;
		  .ank_span {
			padding: 2px 5px;
		  }
		}
	  }

	}

	.adm-profiles-main {
	  padding-left: 10px;
	  padding-top:10px;

	  .accept_tab {
        background:#fbf5e8;
        font-size:0.8em!important;
		border:1px solid #758a11 + 40;
		td {
		  padding:2px 5px;
		  .inp {
			width:80%;
		  }
          &:nth-child(1){width:10px; padding:0px!important; border-right: 0px!important;}
          &:nth-child(2){
			padding:0px!important;
			border-left: 0px!important;
			border-right: 0px!important;
			color:#758a11;
			@include rotate(-90deg);
			font-size:1.2em!important;
		  }
          &:nth-child(3){
			text-align: left;
			border:0px!important;
			padding:5px 1px 1px 1px!important;
			display: inline-block;
			font-weight: bold;
			text-transform: uppercase;
			width:180px;
			line-height:1.2em!important;
			font-size:1em!important;
		  }
          &:nth-child(4){
			padding:1px!important;
			border: 0px!important;
			color:#758a11;
			display: inline-block;
			width:180px;
			text-align: left;
		  }
          &:nth-child(5){
			padding:1px!important;
			border-left: 0px!important;
			border-right: 0px!important;
			border-top: 0px!important;
			display: inline-block;
			width:180px;
			text-align: left;
		  }
          &:nth-child(6){
			width:42px!important;
            text-align: left;
            padding-right: 10px;
          }
		}
		.head td {
		  padding:2px 2px!important;
		  font-size: 0.8em!important;
          display: none!important;
          position: static!important;
          text-align: center!important;
		  border: 1px solid #758a11!important;
		}
		tr:last-child td:nth-child(5) {
		  border-bottom: 0px!important;
		}
	  }

	  .buttons {
		padding-top:10px;

		.btn {
		  padding:1px 15px!important;

		  &.accept {
			margin-right: 10px;
		  }
		}
	  }
	}
  }

// УДАЛЕНИЕ АНКЕТЫ

  .ank_delete {
    padding:10px;

    .name {
      text-align: center;
      display: block;
      margin-bottom: 10px;

      .inp {
        width: 148px;
      }
    }

    .capi {
      display: block;
      font-size:1.5em;
      padding-left:0px!important;
      margin-bottom:10px;

      .capcha {
        padding: 2px 0!important;
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }

      .inp {
        width:149px;
        margin-left: 0px!important;
      }
    }

    .submit {
      display: block;
      padding-left: 0px!important;
      .btn {
        width:155px!important;
      }
    }

    .urgent {
      font-size:1.2em!important;
      padding: 10px 0;
    }
  }

// ЛОГИ
  .logs-table {
	.logs-table-1 {
	  width:105px!important;
	  @extend .table-td-left;
	  .llinks {
		padding-right:10px;
		font-size:1em!important;
		a {
		  padding:2px 2px;
		}
	  }
	}

	.logs-table-2 {
	  .llinks {
		padding-left: 10px;
	  }
	  .paginator {
		padding:0 0 10px 0;
	  }

	  .loggs_list {

		.log {
		  padding:0 0 10px 0;
		  margin-bottom:10px;
		  font-size:0.9em!important;
		  .date {
			padding-right:10px;
			font-size:0.9em!important;
		  }
		}

	  }
	}
  }

  .lib-entrance {
    @include clearfix;
    margin: 0 auto;
    width:280px;
    a {
      display: block;
      width:130px;
      height:120px;
      margin: 0px 5px 5px 0;

      .text {
        padding: 30px 5px;
        font-size: 1em!important;
      }

      &.lib-entrance-3 .text {padding-top: 40px;}
      &.lib-entrance-4 .text {padding-top: 45px;}
      &.lib-entrance-6 .text {padding-top: 30px; font-size: 0.8em!important; text-align: right; padding-right: 20px;}
      &.lib-entrance-7 .text {padding-top: 30px; text-align: right; padding-right: 20px;}
      &.lib-entrance-8 .text {padding-top: 40px;}

      .img {
        left:-6px;
        bottom:-6px;
      }
    }
  }


// СПИСОК ПЕРСОНАЖЕЙ

  .profile-list {
    width: 300px!important;

    td {
      display: block;
      float: left;
      width:47%;
      margin-bottom: 10px;
      font-size: 0.9em;
      padding-right: 2px!important;
      background: #e3ddc7;

      ul {

        li {
        }

        a {
          padding:2px 5px;
          border-bottom: 1px solid #919876;
        }

      }
    }

    .profile-list-col-title {
      padding: 5px 10px;
      margin-bottom: 10px;
    }
  }

  // ДОБАВЛЕНИЕ НОВОСТИ
  .addnews {
	.inp {
	  width: 400px;
	}
  }


  .mh {
	h1 {
	  font-size:20px!important;
	}
	h4 {
	  font-size: 15px!important;
	}

	.img {
	  max-width: 90%!important;
	}

	.newbe_tab {
	  width:100%;
	  img {
		width:100px;
	  }
	  .ava {
		width:100px;
		padding: 5px!important;
	  }
	  .info {
		padding: 10px;
		font-size: 1em!important;
	  }
	}
  }



}