.bottommenu
  %ul
    %li
      %a{href: "#"} Главная
    %li
      %a{href: "#"} Карта сайта
    %li
      %a{href: "#"} О проекте
    %li
      %a{href: "#"} Монастырь
    %li
      %a{href: "#"} Карта
    %li
      %a{href: "#"} Анкета
    %li
      %a{href: "#"} Правила РПГ
    %li
      %a{href: "#"} Правила Монастыря
  %ul
    %li
      %a{href: "#"} Как начать игру
    %li
      %a{href: "#"} Способности
    %li
      %a{href: "#"} Навыки
    %li
      %a{href: "#"} Персонажи
    %li
      %a{href: "#"} Помощь по игре
    %li
      %a{href: "#"} Библиотека
    %li
      %a{href: "#"} Блог Мастеров
    %li
      %a{href: "#"} Газета
  %ul
    %li
      %a{href: "#"} Гостевой Свиток
    %li
      %a{href: "#"} Контакты
.copy
  © #{link_to "Форумная ролевая игра (ФРПГ) «Храм Мудрости»", "http://templeofwisdom.ru/", :alt => "Форумная ролевая игра (ФРПГ) «Храм Мудрости»"} 2010-#{Date.today.year}