.header
  = link_to "", root_path, class: "logo", title: "На главную"
  = link_to "Линь Ян Шо", "#forum_path", class: "ljs-text", title: "В Монастырь"
  = render :partial => 'login_block'
.menu
  .textsize{title: "Размер шрифта"}
    %span.textsize-a A
    %span.textsize-rulers
      %span.plus{title: "Увеличить шрифт"} ▲
      %span.minus{title: "Уменьшить шрифт"} ▼
  %ul
    %li
      %a{href: "/"} Главная
    %li
      %a{href: "/pages/about"} О проекте
    %li
      %a{href: "/forum"} Монастырь
    %li
      %a{href: "/pages/map"} Карта
      //TODO alter this next link depending on the current_user
    - if current_user
      %li.link-green
        %a{href: "#register_path"} Анкета
    - else
      %li.link-green
        = link_to "Регистрация", register_path
    %li
      %a{href: "/pages/rules"} Правила монастыря
    %li
      %a{href: "/pages/rpg_rules"} Правила РПГ