.admin-wrapper{"ng-controller"=>"AdminCharsCtrl", "ng-init"=>"loadChars()"}
  .user-filter
    %input.form-control.inp.inp-type2{'ng-model' => 'filter.$', type: 'text', id:'user-filter'}
    %label.fa.fa-search{for:'user-filter'} &nbsp;
  = render partial: 'char_ng_tabel'

  .edit-user-div{'ng-show'=>'sChar.id'}
    .edit-close
      %span.fa.fa-times{"ng-click"=>"sChar = {}"}
    .info-wrap
      %span{'ng-bind-html'=>'sChar.avatar_img | trustHtml'}
    .info-wrap
      .line
        Имя:
        %a{href:'/chars/{{sChar.id}}', target:'_blank'} {{sChar.name}}
      .line
        Вдалелец:
        %a{href:'/users/{{sChar.owner.id}}', target:'_blank'} {{sChar.owner.name}}
      .line
        Создан: {{sChar.createdAt}}
      .line
        Группа: {{sChar.group_name}}
      .line
        Статус: {{sChar.status_name}}
      .line
        Делегирован:
        %span{'ng-repeat'=>'user in sChar.delegations'}
          %a{href:'/users/user.id', target:'_blank'} {{user.name}}
        %span{'ng-show'=>'sChar.delegations.length == 0'}
          никому

  .pending-wrap
    %h4 Новые анкеты
    %table.penting-chars-tab.chars-tab.ngtable
      %thead
        %tr.char-head
          %th.char-id №
          %th.char-name Имя
          %th.char-owner Игрок
          %th.char-group Группа
          %th.char-created Создан
          %th.char-btn
      %tbody
        %tr.one-line{'ng-repeat'=>'char in pendingChars'}
          %td.char-id{}
            {{char.id}}
          %td.char-name{}
            %span{'ng-click'=>'showFull(char)'} {{char.name}}
          %td.char-owner
            %a{href:'/users/{{char.owner.id}}', target:'_blank'} {{char.owner.name}}
          %td.char-group
            {{char.group_name}}
          %td.char-created
            {{char.createdAt}}
          %td.char-btn
            %span.fa.fa-check{title:"Принять", 'ng-click'=>'acceptChar(char)'}
            %span.fa.fa-times{title:'Отклонить', 'ng-click'=>'declineChar(char)'}

  .pending-wrap
    %h4 В очереди на одобрение
    %table.penting-chars-tab.chars-tab.ngtable
      %thead
        %tr.char-head
          %th.char-id №
          %th.char-name Имя
          %th.char-owner Игрок
          %th.char-group Группа
          -#%th.char-status Статус
          %th.char-created Создан
          %th.char-btn
      %tbody
        %tr.one-line{'ng-repeat'=>'char in reviewedChars'}
          %td.char-id{}
            {{char.id}}
          %td.char-name{}
            %span{'ng-click'=>'showFull(char)'} {{char.name}}
          %td.char-owner
            %a{href:'/users/{{char.owner.id}}', target:'_blank'} {{char.owner.name}}
          %td.char-group
            {{char.group_name}}
          -#%td.char-status
          -#  {{char.status_name}}
          %td.char-created
            {{char.createdAt}}
          %td.char-btn
            %span.fa.fa-check{title:"Одобрить", 'ng-click'=>'approveChar(char)'}
            %span.fa.fa-times{title:'Удалить', 'ng-click'=>'removeChar(char)'}
            
  .pending-wrap
    %h4 Не опубликованные
    %table.penting-chars-tab.chars-tab.ngtable
      %thead
        %tr.char-head
          %th.char-id №
          %th.char-name Имя
          %th.char-owner Игрок
          %th.char-group Группа
          %th.char-created Создан
      %tbody
        %tr.one-line{'ng-repeat'=>'char in savedChars'}
          %td.char-id{}
            {{char.id}}
          %td.char-name{}
            %span{'ng-click'=>'showFull(char)'} {{char.name}}
          %td.char-owner
            %a{href:'/users/{{char.owner.id}}', target:'_blank'} {{char.owner.name}}
          %td.char-group
            {{char.group_name}}
          %td.char-created
            {{char.createdAt}}


%script{type:'text/ng-template', id:'custom/pager'}
  = render :partial => 'ng_table_pager'