.paginator
  %span.cover_link{'ng-click'=>'setCurrent(-1)',"ng-class" => "{active: isCurrent(-1)}"}
    Тэг {{tag.name}}
  &nbsp; Страницы:
  %span{'ng-repeat'=>'page in tag.page_ids', "ng-class" => "{active: isCurrent($index)}", "ng-click" => "setCurrent($index)"} {{$index+1}}